[2014-12-19 16:27] nscavell opened #2 "Split out connection pooling"
We have an SPI to provide alternative connection pooling, but currently the implementation is bundled with the JDBC service. We should probably extract it out and provide it as separate maven module (still under same project).

[2014-12-19 16:28] nscavell opened #3 "Configure connection pooling"
Support configuration of the c3p0 connection pool.

[2014-12-19 16:30] nscavell opened #4 "Doc gen examples"
Add more examples in the form of ascii doc for the JDBC service, similar to how we have some for the README

[2015-02-13 07:29] aliakhtar opened #7 "You must be joking"
In M2, when you run a query via conn.query, you get each row contained within a JsonObject. This is reasonable, since then you can look up the results by column name. E.g if you intend to fill up a dto, you can do stuff like

`user.setEmail( result.getString("email") ); `

However I just upgraded to snapshot, and I see that this has been changed to a ResultSet (which is fine), but the resultSet ha

[2015-02-13 07:58] aliakhtar opened #8 "NPE in Snapshot when doing conn.queryWithParams"
java.lang.NullPointerException
	at java.util.Objects.requireNonNull(Objects.java:203)
	at io.vertx.core.json.JsonArray.add(JsonArray.java:396)
	at io.vertx.ext.jdbc.impl.actions.AbstractJdbcStatement.asList(AbstractJdbcStatement.java:85)
	at io.vertx.ext.jdbc.impl.actions.JdbcQuery.executeStatement(JdbcQuery.java:41)
	at io.vertx.ext.jdbc.impl.actions.JdbcQuery.executeStatement(JdbcQuery.java:32)

[2015-02-13 16:47] purplefox commented on #8
I've added a possible fix (in master). As I can't reproduce this (do you have a reproducer?) it's a bit of a guess.

Please tell me if it fixes the issue.

[2015-02-13 16:49] purplefox commented on #7
The trouble with the JsonObject approach is each row contains the field names. That means if you have a 10000 rows you have all the field names duplicated in memory 10000 times. This can make the memory footprint of the resultset a *lot* bigger and it means it will take a longer to serialize over the wire.

Maybe we can provide convenience methods on the ResultSet to retrieve the values by column

[2015-02-13 17:05] aliakhtar commented on #7
I'd say that because this is the jdbc library, we should stick to jdbc conventions for this, which is to provide a way to get values by column name.

I can't think of many use cases where you'd really be loading 10,000 rows into memory. Most of the time you'd be paginating to load 10-100 rows at a time.

Its far more common that you'd want to look up columns by name (and would incur the performanc

[2015-02-14 10:07] aliakhtar commented on #7
Tim,

There's also another solution, if you do what JDBC does, i.e:

`while (resultSet.hasRows()`
`{ `
`     JsonObject row = resultSet.next();`
`}`

Then only one JsonObject at a time would be created, and there would be no memory issues.

But actually, even that isn't necessary, since you can just intern the key names, in which case the same string instances would be used for all 10,000 rows rat

[2015-02-14 10:30] aliakhtar commented on #8
Thanks for the fix. I can't test it as I had to revert to M2 to keep my code working. When the next milestone is out, hopefully with fixes to the JsonObject / Array issue, I can give it another try.

[2015-02-19 10:03] purplefox commented on #7
I've added a method getRows() to return rows as Json object instances.

BTW, this GitHub issue is in the wrong repo - should be in vertx-sql-common :)

[2015-02-19 10:03] #7 closed

[2015-03-11 17:11] ufoscout opened #9 "resultSet.getRows() is empty"
Dear all,

I'm playing with the code in the master and I found a strange behaviour with the resultSet.getRows() method that can be easily reproduced with this code (replace the table "users" with whatever table you want):
[code]

There is no data in the getRows(); but, based on the documentation of vertx-sql-commons, it is supposed to contain a list of JsonObject populated with the results. I chec

[2015-03-13 13:09] purplefox commented on #9
Hi Francesco,

In SQL,

SELECT COUNT(*) FROM ...

simply counts the number of rows - it does not return the rows
themselves, so this seems like expected behaviour.

If you want to return the actual rows, you can use:

SELECT * FROM ....

On 11/03/15 17:11, Francesco wrote:

[2015-03-13 15:57] ufoscout commented on #9
Hi tim,

sorry but I don't agree with your analysis.
In SQL a "select count(*) blablabla" returns exactly one row whose content is the desired count. So it does contain rows.
As a confirmation that this is a bug, if you execute "select * from users" instead of the count, you will see that the result.result().getRows() is always empty even if result.result().getResults() is not.

[2015-03-13 16:44] ufoscout commented on #9
Hi Tim,

indeed it was a bug in the vertx-sql-common project. I fixed it and proposed a PR (https://github.com/vert-x3/vertx-sql-common/pull/3).
I tested it locally and now it works with both "select * blablabla" and "select count(*) blablabla" :+1:

[2015-03-13 17:03] purplefox commented on #9
Got it. Sorry - I misunderstood the original description and thought you were expecting all the rows to be returned

Thanks for the fix, will take a look soon :)

[2015-03-17 16:23] ufoscout opened #10 "Column labels are ignored in the ResultSet"
The user specified labels in a select query are ignored. E.g.:

[code]

The issue is caused by a wrong call in the class io.vertx.ext.jdbc.impl.actions.AbstractJdbcStatement in the method:
[code]
To fix the issue the line:
[code]
should be changed with:
[code]

If you accept the issue, I can prepare a PR.

Regards
Francesco

[2015-03-19 08:38] ufoscout commented on #10
PR created for this: #11

Cheers
Francesco

[2015-03-23 14:21] purplefox commented on #10
Thanks. Have you signed the Eclipse CLA?

[2015-03-23 14:50] purplefox commented on #8
Closing this. If problem persists please reopen.

[2015-03-23 14:50] #8 closed

[2015-03-23 14:51] purplefox commented on #2
I think it's ok to bundle the default impl

[2015-03-23 14:51] #2 closed

[2015-03-23 14:51] purplefox commented on #3
done

[2015-03-23 14:51] #3 closed

[2015-03-23 14:52] #4 closed

[2015-03-24 10:04] ufoscout commented on #10
I get an access denied when I try to sign. I sent an email to eclipse support. Waiting for a reply.

[2015-03-24 10:07] ufoscout opened #12 "The use of "vertx.executeBlocking" in the vertx-jdbc-service can lead to a stuck system"
The thread pool to get a jbdc connection and the one to use it must not be the same otherwise the system can be blocked forever.
Simple scenario that reproduces the issue:
(Let's set worker pool size to 1 and max connection pool size also to 1 for simplicity)

1. A gets connection
2. A executes query 1
3. B tries to get connection - worker blocks max pool size reached
4. A tries to execute query 2

[2015-03-25 09:23] ufoscout commented on #10
Eclipse CLA signed

[2015-03-25 13:44] #10 closed

[2015-03-26 13:34] purplefox commented on #12
I've changed getConnection to execute on a different thread to the worker in order to avoid this situation.

[2015-03-26 13:34] #12 closed

[2015-03-27 14:35] #9 closed

[2015-06-09 10:58] zcx2001 opened #16 "Oracle number type can't checkAndCopy"
Dear all,
      Oracle number type at "select" can't checkAndCopy
java.lang.IllegalStateException: Illegal type in JsonObject: class java.math.BigDecimal
	at io.vertx.core.json.Json.checkAndCopy(Json.java:116)
	at io.vertx.core.json.JsonArray.add(JsonArray.java:396)
	at io.vertx.ext.jdbc.impl.actions.AbstractJDBCStatement.asList(AbstractJDBCStatement.java:79)

  protected Object convertSqlValue(Ob

[2015-06-09 11:33] zcx2001 opened #17 "Oracle insert error"
JDBCUpdate.java  in  keys.add(convertSqlValue(rs.getObject(1)));

java.lang.IllegalStateException: Illegal type in JsonObject: class oracle.sql.ROWID
	at io.vertx.core.json.Json.checkAndCopy(Json.java:116)
	at io.vertx.core.json.JsonArray.add(JsonArray.java:396)
	at io.vertx.ext.jdbc.impl.actions.JDBCUpdate.executeStatement(JDBCUpdate.java:53)
	at io.vertx.ext.jdbc.impl.actions.JDBCUpdate.executeS

[2015-06-16 13:45] zcx2001 commented on #17
convertSqlValue not cast oracle.sql.ROWID @pmlopes

[2015-06-16 17:28] pmlopes commented on #17
No, because that is a oracle specific type so it falls in the last attempt to cast as a `toString()`

[2015-06-17 03:32] zcx2001 commented on #17
But I think we should solve the problem of throwing exception in io.vertx.ext.jdbc.impl.actions.JDBCUpdate executeStatement

If you can't toString, capture exceptions and return null

[2015-06-21 18:26] #16 closed

[2015-06-21 18:26] #17 closed

[2015-06-26 19:46] bissaias opened #20 "Temporal values seem to be unnecessarily offsetted"
I am inserting and then selecting a ``datetime`` field from MySql. While the code executes successfully, the date value retrieved from the ``ResultSet`` is offsetted by 3h. For example while the date inserted was ``2015-06-26 22:25:54.0`` the retrieved date was ``2015-06-26T19:25:54Z``. After some investigation I discovered the following code in ``io.vertx.ext.jdbc.impl.actions.AbstractJDBCStateme

[2015-06-26 19:55] timyates commented on #20
So, to convert the date from the database into a format that can be added
to a Json object, it is converting it to an ISO date string in the UTC
timezone:

https://en.wikipedia.org/wiki/ISO_8601#Time_zone_designators

My guess is that you aren't in the UTC timezone?

You should be able to convert the date field to a String format in the
database, in your select statement

Or convert this into a Da

[2015-06-26 20:10] bissaias commented on #20
Thanks for the info Tim. However I still don't get why you don't return a string representation of the date value as is (i.e. as it's returned by the jdbc driver) and let the developer do the rest, since most of the times developers would want to process dates in the local time zone. After all this is the vertx-jdbc module and I would expect that it resembles standard jdbc functionality.
If fore s

[2015-06-26 20:24] pmlopes commented on #20
The reason for doing this is because with vertx or any distributed application you have no control or knowledge at front about the timezone of the other nodes. Say that your application is composed of 2 verticles and these 2 verticles are deployed one in Europe and other in Asia, if you pass temporal values across verticles say for example: Jan 1st 2015 9:00 AM what does that mean? is it the time

[2015-06-26 20:25] timyates commented on #20
This came in to align it with the mongo client according to the pull
request:

https://github.com/vert-x3/vertx-jdbc-client/pull/18

On 26 June 2015 at 21:24, Paulo Lopes <notifications@github.com> wrote:

[2015-06-26 20:37] pmlopes commented on #20
In order to solve this kind of questions there is a proposal on the wiki for a update to the JsonAPI:

https://github.com/vert-x3/wiki/wiki/Update-JSON-API

Basically it means that we should have full ECMA-404 implementation (JSON Spec)  + RFC7493 (Interop JSON) which means adding methods to encode/decode binary streams to Base64 (already present) + methods to encode/decode Temporal values to ISOD

[2015-06-27 07:43] bissaias commented on #20
I totally get it now, thanks for the update. In the end I managed to convert the UTC time to local time using
[code]
My feeling is that there should be some convenience methods present in the JsonAPI for this kind of things since most of the times the developer would like to have the local date from the JsonObject, e.g.:
[code]

[2015-06-27 08:10] pmlopes commented on #20
Yes i agree, that is why i open that wiki page to propose an API update.

[2015-06-27 08:10] #20 closed

[2015-07-08 08:25] pmlopes opened #21 "for consistency reasons config param "user" should be "username""
this is the same as defined on "async mysql psql" and "mongo" clients

[2015-07-09 07:08] cescoffier opened #22 "C3P0 DataSource classloader issue"
Currently, the JDBC driver is loadinded from the classpath and not from the verticle classloader making impossible to pass the driver in the `-cp` argument of the `Starter`.

Here is the stack trace:
https://gist.github.com/cescoffier/950522afbbc02b78330c

C3P0 should be configured to use the TCCL and we should pass the verticle classloader to the thread initializing the connection

A reproducer i

[2015-07-10 07:37] cescoffier commented on #22
c3p0 requires more or less to be loaded in the same classloader as the driver classes. If not, it does not have access to the driver.

So, we should clearly indicate this in the documentation.

[2015-07-10 08:52] #22 closed

[2015-07-15 06:28] cescoffier opened #23 "Implement another data source provider"
The C3PO implementation does not let use a custom classloader (see #22). We should implement another provider using a different connection pool technology that let us customize the classloader in environment where Vert.x is embedded.

[2015-07-23 16:00] cescoffier commented on #23
Is there any code to review ?

[2015-07-24 07:43] pmlopes commented on #21
this does not apply since now the pool param names are pool implementation specific:

* C3P0
* BoneCP
* Hikari

[2015-07-24 07:43] #21 closed

[2015-07-28 05:21] #23 closed

[2015-08-06 07:24] qsys opened #26 "vertx-jdbc-client maven repo old(?)"
When I add

    <dependency>
        <groupId>io.vertx</groupId>
        <artifactId>vertx-jdbc-client</artifactId>
        <version>3.0.0</version>
    </dependency>

to my pom, with version being 3.0.0, apparently being the latest version, it all works with the default (c3p0) datasource provider. However, changing to one of the two other ones (BoneCP and HikariCP), the datasourceprovider impleme

[2015-08-10 14:41] cescoffier commented on #26
You should be able to get the last version using:

[code]

the version including the new data source provider is not released yet. It will probably be part of the 3.0.1 (not decided yet).

[2015-08-10 14:41] #26 closed

[2015-08-27 17:43] cramertj opened #27 "JsonArray add causing NullPointerException with some JDBC drivers"
Steps to reproduce:
1. Obtain a SQLConnection using the Microsoft SQL Server JDBC driver version 4.0
2. Run an UPDATE or DELETE statement with SQLConnection.updateWithParams or SQLConnection.update

The update will go through (changes in the database will be made), but the AsyncResult returned will have a true .failed(), with a .cause() of java.lang.NullPointerException. The full stack trace is be

[2015-08-27 17:52] cramertj commented on #27
After cloning, I see that this issue has already been resolved by checking for null ResultSet, even though it was not fixed in my local copy pulled from Maven.

[2015-08-27 17:52] #27 closed

[2015-10-28 08:06] ratulb opened #33 "HikariCPDataSourceProvider - throws classcast exception"
Hi,
I have been trying to use the HikariCP with vertx jdbc client. I am trying to load the Hikari configuration from a json file. But its failing with following exception -

SEVERE: Unhandled exception
java.lang.RuntimeException: java.lang.ClassCastException: java.lang.Integer cannot be cast to java.lang.Long
	at io.vertx.ext.jdbc.impl.JDBCClientImpl$DataSourceHolder.ds(JDBCClientImpl.java:167)
	a

[2015-11-03 08:11] #33 closed

[2015-11-19 23:15] aifgi opened #35 "SQLFeatureNotSupportedException from Apache Phoenix JDBC Driver"
I have following code working with Apache Phoenix (https://phoenix.apache.org):

    final JsonObject config = new JsonObject()
            .put("url", "jdbc:phoenix:localhost:2181:/hbase")
            .put("driver_class", "org.apache.phoenix.jdbc.PhoenixConnection")
    final JDBCClient client = JDBCClient.createShared(vertx(), config);
    jdbcClient.getConnection(res -> {
        if (res.succee

[2015-11-20 08:46] cescoffier commented on #35
The Phoenix JDBC support is not complete. Phoenix only supports prepared statements without the set of column names.

[2015-11-23 10:20] cescoffier commented on #35
For information, we are discussing with Phoenix to see what would be the best solution.

[2015-11-25 14:49] cescoffier commented on #35
See https://issues.apache.org/jira/browse/PHOENIX-2453

[2015-11-28 09:16] pmlopes opened #36 "callable with RS + out does not return all values"
see: https://groups.google.com/forum/#!topic/vertx/ZgZTZ9Vh_b0

[2015-12-01 12:08] pmlopes commented on #36
The reporter claims that the issue is fixed

[2015-12-01 12:09] #36 closed

[2015-12-10 09:32] cescoffier commented on #35
Close this ticket, as it is handled by Phoenix.

[2015-12-10 09:32] #35 closed

[2016-01-15 22:48] guedouarj opened #38 "JPA Support"
Hello,

Thank you for your great work, I was wondering if it is possible to use JPA/Hibernate with vertx instead using native SQL in jdbc ?
I saw this: https://github.com/aesteve/vertx-hibernate-service

But I don't know if it is stable enough to really use it...

[2016-01-17 22:50] vietj opened #40 "Typo"
_which is a common interface used by more than Vert.x sql service._

I think it should be

_which is a common interface used by more than Vert.x JDBC Client._

[2016-01-18 07:48] #40 closed

[2016-01-18 13:08] pmlopes commented on #38
jdbc client is a small wrapper around the JDBC API, in order to support JPA you should consider create a new module such as the Hibernate one

[2016-01-18 13:27] cescoffier opened #41 "Improve how connection pool provider are loaded to be OSGi compliant"

[2016-01-18 13:35] #41 closed

[2016-01-18 14:08] #38 closed

[2016-01-21 11:44] sfalkman opened #43 "User-specified generated keys"
The JSONUpdate class assumes that the first object in the generated keys is the key you want:
[code]
According to the Java doc, it seems that the *executeStatement* method can take *String[] columnNames* or *int[] columnIndexes*.

Would it be possible to implement this, so that the user can choose which column(s) the key(s) should be picked from?

[2016-02-10 07:59] alex-inqwise opened #44 "Unhandled Runtime exception in Connection and Action scope"
In case if any Runtime exception occurred in JDBCConnection or JDBCAction scope, no have abbility to catch it. Example:

[code]

[2016-02-15 09:16] pmlopes commented on #44
if you have code that throws exceptions or can cause runtime exceptions you should try catch yourself. for example, in your code, if the jdbc client catches these exceptions what should it do with them? there is no parent context to pass since you're already in the response handler code.

[2016-02-15 09:34] alex-inqwise commented on #44
No problem to catch exception. But our word not ideal and we have bugs. User experience in case of unhandled exceptions is very bad when you run as web application; Actual working thead has been "lost" and the visitor get timeout exception from his browser. As alternative, we need some mechanism to catch all unhandled exceptions occured in vertx.

[2016-02-15 09:38] pmlopes commented on #44
the problem here is that the programing model is async/reactive so when we would catch the exception there is no proper context to handle it, there is no handler to be called at that moment, and vertx has no knowledge what should be be behavior of your application.

[2016-02-15 09:45] alex-inqwise commented on #44
So, lets handle runtime exceptions :-)

[2016-02-18 18:00] JSchering opened #46 "vertx-jdbc-client Oracle 12c - operation not allowed"
The vert.x jdbc client is throwing a "SQLException: operation not allowed" when performing an update on an Oracle 12c database using the vertx-jdbc-client 3.2.1. When performing an updateWithParams or update and passing in a simple update statement it fails with the following error:

java.lang.RuntimeException: java.sql.SQLException: operation not allowed
at com.sample.verticle.MyVerticle.lambda$8

[2016-02-18 18:18] JSchering commented on #46
Changing the code to use connection.execute. works around the issue, but you can no longer use prepared statements.

[2016-03-14 07:45] #46 closed

[2016-03-18 14:21] fldrog opened #48 "JDBCCallable and OUT parameters not working properly with Oracle Driver"
I tested this using version 3.2.1 with JDBCUpdate class patch for https://github.com/vert-x3/vertx-jdbc-client/issues/46 fix. Also I used the last version of JDBCStatementHelper

The problem:

Assume you have an ORACLE table

CREATE TABLE "SCHEMA"."TABLE"
    (    "ID" NUMBER(18,0),
         "COL1"  VARCHAR2(100 CHAR),
        "COL2" NUMBER(18,0)
)

Also there's a sequence  SCHEMA.SEQ_TABLE

[code

[2016-03-18 15:28] fldrog commented on #48
I think we might have the same issues with other drivers as well. The JDBCStatementHelper assumes we have an index for IN and another one for OUT but we have to use the same index for both like below:

[code]

So we might have to change the SQLConnection.callWithParams method as well cause you might have next example:

  String query = "call GET_DETAIL_BY_PRODUCT(?, ?,?)";

where:
- 1st param is a

[2016-03-18 21:19] pmlopes commented on #48
Jdbc is index based your out array should contain
[code]

[2016-03-18 23:12] fldrog commented on #48
I see now :+1:

Thanks!

I suppose we can close this one or leave it open until some good javadoc is added to callWithParams SQLConnection method

[2016-03-21 10:07] pmlopes commented on #48
see: https://github.com/vert-x3/vertx-sql-common/pull/20

[2016-03-21 10:07] #48 closed

[2016-03-21 10:08] fldrog commented on #48
Nice!

Thanks!

[2016-03-30 03:43] huynhduy9988 opened #52 "OUT parameters 's JDBCType and OracleTypes is not consistency"
Dear all,

I try register CURSOR OUT parameter with Oracle Driver but seem not working because OracleTypes.CURSOR = -10 is not exists in JDBCType.

[2016-04-05 15:00] pmlopes commented on #44
Vert.x is unopionated so you are responsible to handle your own exceptions. Alternatively if you want better error control I'd suggest to look into RX api.

[2016-04-05 15:00] #44 closed

[2016-04-07 13:12] alex-inqwise commented on #44
No problem. Currently you handle only SqlExceptions -> So as patch, I handle all Throwables and rethrow as SqlException. :-(

[2016-04-08 07:25] jiancaiHub opened #56 "Complex SQL queries can't get result."
Complex sql like this "**select * from car_type where carBrand in ('a', b', 'c');**"
[code]

[2016-04-08 07:55] pmlopes commented on #56
can you provide a reproducer? include the query the table DDL and the connections settings, which driver are you using? which rdbms engine are you using? any special settings on your connection, etc...

[2016-04-08 08:14] jiancaiHub commented on #56
@pmlopes** Thank you so much！**

**pom.xml**
[code]
There are no special settings
[code]
I don't know if these are enough？

[2016-04-08 08:19] pmlopes commented on #56
can you add the ddl? just the table structure we don't need the data, otherwise we can't run the query locally

[2016-04-08 08:32] jiancaiHub commented on #56
Sorry,I don't know how to give you the ddl.
[code]
and I can get result by tools like Navicat. I want to know what can I do?

[2016-04-08 08:48] pmlopes commented on #56
that is the DDL. Thanks!

see: https://en.wikipedia.org/wiki/Data_definition_language

[2016-04-08 09:04] jiancaiHub commented on #56
@pmlopes

I think I found the answer to my question.  If I remove the Chinese in my sql, Then I get the result.

Thank you very much!

[2016-04-08 09:11] #56 closed

[2016-04-08 09:12] pmlopes commented on #56
You have a bug in your query, you're missing a `'` before the `b`.

It should be: `select * from car_type where carBrand in ('a', 'b', 'c')`

You can can find the issue with `if (res.failed())`

[2016-04-09 03:03] jiancaiHub commented on #56
@pmlopes  Thank you very much!

[2016-04-22 07:20] Ive4 opened #57 "JDBCStatementHelper DateTime can't not support anther DateTimeFormatter"
### Version

* vert.x jdbc-client:3.2.1

### General info

JDBCStatementHelper    line:153

### Context

why not have a dateformat config?

[2016-04-22 07:29] pmlopes commented on #57
Because our JSON follows the standard: https://www.rfc-editor.org/rfc/rfc7493.txt

Which specifies the format for temporal types. Also later on you can do `json.getInstant("your_temporal_field")` and get the java instant object.

[2016-04-22 07:29] #57 closed

[2016-04-22 07:30] Ive4 commented on #57
thanks

[2016-05-03 13:06] vietj opened #58 "Integrate with named worker pools"
Currently the connection gets its own ordered worker executor using VertxInternal.

This will always go on the default pool.

In case of a Verticle  deployed to use a specific named pool, it will not use this particular pool - and it would if we would use executeBlocking directly.

So we should find a way to make this possible.

[2016-05-04 13:01] vietj opened #59 "Expose data source usage metrics"

[2016-05-04 19:35] #52 closed

[2016-05-09 09:57] #59 closed

[2016-05-17 11:55] pmlopes opened #61 "response should be a stream not a json blob"
The current API returns always a single JSON blob with the response from the database. Although this is interesting for simplicity when dealing with a big response data set it will create lot of pressure on the JVM available heap and GC since all rows need to be fetched to RAM, encoded to JSON and sent over the eventbus.

An improvement would be having the concept of cursor where users can fetch o

[2016-06-19 08:35] glassfox opened #63 "vertx.close do not release all resources when using JDBCClient"
* vert.x core: 3.3.0
* vert.x jdbc-client: 3.3.0

Once application initialize JDBCClient -> vertx.close() do not release all resources and java application still opened.

**Following the example:**

[code]

**Following the call stack after vertx.close:**

[code]

[2016-06-19 14:51] vietj commented on #63
good point, this is because you should close the client yourself.

there is no auto close as there would be with an HttpServer - however I believe we could have this quite easily as this is what somebody would expect.

[2016-06-19 15:12] glassfox commented on #63
You are right! Thanks!

[2016-06-19 15:12] #63 closed

[2016-06-29 12:23] pmlopes opened #65 "Allow disable UUID cast for databases that do not support it"
see: https://groups.google.com/forum/#!topic/vertx/iR46S5dYJ_c

Many other engines do support it however I propose to have the system property by default disabled. To keep backwards compatibility.

This is a 3.3.1 feature since it fixes the backwards compatibility.

[2016-06-30 04:46] huynhduy9988 opened #67 "[vert.x jdbc-client: 3.3.0] java.sql.SQLException: Incorrect string value: '\xAC\xED\x00\x05sr…'"
### Version

* vert.x core: 3.3.0
* vert.x jdbc-client: 3.3.0
* jdbc driver: 6.0.2, 6.0.3, 5.1.39
* RDBMS: MySQL, character set utf8mb4, collation utf8mb4_general_ci

### Problem
- I insert new record in MySQL table with character set utf8mb4, collation utf8mb4_general_ci then get error "java.sql.SQLException: Incorrect string value: '\xAC\xED\x00\x05sr…'"
- Stackoverflow reference: http://stackov

[2016-06-30 07:46] pmlopes commented on #67
Can you show the string you're trying to insert?

[2016-06-30 09:26] huynhduy9988 commented on #67
@pmlopes:
- I sure the raw string have not any special character.
- I revert vertx 3.2.1 and everything work with sample data

[2016-06-30 09:31] pmlopes commented on #67
@huynhduy9988 but can you provide a sample string just to have some reproducer. It does not need to be a full database just a string that causes the issue.

[2016-06-30 10:11] huynhduy9988 commented on #67
@pmlopes:
-- Table
CREATE TABLE `test` (
  `autoId` bigint(20) NOT NULL AUTO_INCREMENT,
  `ID` varchar(36) NOT NULL,
  `user` varchar(20) NOT NULL DEFAULT ''
	PRIMARY KEY (`autoId`),
    UNIQUE KEY `id_UNIQUE` (`ID`),
	KEY `MUSER` (`user`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4;

-- Store procedure
CREATE DEFINER=`root`@`%` PROCEDURE `sp_test_INSERT`(
    p_ID                	var

[2016-06-30 12:19] pmlopes commented on #67
this is related to: https://github.com/vert-x3/vertx-jdbc-client/issues/65

[2016-06-30 12:19] #67 closed

[2016-07-06 12:39] #65 closed

[2016-07-12 13:38] rozzamozza commented on #46
The fix does not work in Oracle for the following type of sql insert:

insert into merchant (merchant_id,version,json,merchant_network_id,modified_date)
(select ?,?,?,?,? from merchant where merchant_id = ? having count(*) = 0),

This is a typical type of command for part of doing an upsert.
You get
java.sql.SQLSyntaxErrorException: ORA-00933: SQL command not properly ended

due to calling of:

[2016-07-12 13:53] rozzamozza commented on #46
Just because you are doing an insert does not mean you want to call generate keys. A large number of data models do not rely on Database generated keys. They rely on natural keys of the data inserted (to stop duplicate etc)

[2016-08-03 05:53] #58 closed

[2016-08-18 08:48] vietj opened #68 "SQLConnection context must remain the same than the context obtaining the SQLConnection"

[2016-08-18 08:49] #68 closed

[2016-08-29 10:01] gchauvet commented on #61
I vote for this feature; The current behavior "freeze" my vertx rest service when I have millions rows in my result set (IMO, this is major bottleneck vs node.js ecosystem).

[2016-08-29 10:02] vietj commented on #61
can you point out how/where it's done in node.js ? (api)

[2016-08-29 10:03] vietj commented on #61
@pmlopes do you mean something like ReadStream<Row>

[2016-08-29 10:34] gchauvet commented on #61
We intensively use [brianc/node-pg-query-stream](https://github.com/brianc/node-pg-query-stream) sub-project to manage database query streaming. Adding a similare feature inside this library would be a must have.

[2016-08-29 11:09] vietj commented on #61
it seems that `QueryStream` extends Node's `Readable` indeed

[2016-08-29 12:18] gchauvet commented on #61
yes, this is the case

[2016-08-29 12:24] gchauvet commented on #61
I'm wondering if this feature is to be defined in this library or in vertx-sql-common ?

[2016-08-29 12:27] vietj commented on #61
question for @Narigo and @pmlopes

[2016-08-29 13:58] pmlopes commented on #61
What I meant when i created the issue was to avoid what @gchauvet is encountering. Currently we copy all data to heap from the DB cursor and then serialize over the eventbus, we probably should handle it as a cursor, read one or a batch of rows, send wait for a request to continue, repeat until no more rows. That is how pg/mongo on node works.

[2016-08-29 13:59] pmlopes commented on #61
This however would probably be a huge breaking change, unless we keep the original API

[2016-08-29 14:11] pmlopes commented on #61
@gchauvet i do think this should be first designed on sql-common and then implemented both here and in the async client.

[2016-08-29 14:19] gchauvet commented on #61
I think this is the best way to proceed, by adding a new signature method like this in SQLConnection  :
[code]

[2016-08-29 14:34] vietj commented on #61
not sure ReadStream is yet supported in Handler<AsyncResult<?>> , someone needs to check

[2016-08-29 14:35] vietj commented on #61
that being said it could be simply returned, too and not yse Handler<AsyncResult>>, data will be just be pushed

[2016-08-29 15:14] gchauvet commented on #61
@vietj :+1: This will also prevent a method clash name caused by genericity.

[2016-08-30 07:17] pmlopes commented on #61
due to the codegen strict rules, we can't use the method names:

* query
* update
* etc...

Because overloading is not allowed, even though the signature is completely different.

[2016-08-30 07:24] vietj commented on #61
what we cannot do, is having a different return type, overloading is allowed (with some limitations)

(note that having `query(String sql, Handler<AsyncResult<ReadStream<Row>>> resultHandler)` and `query(String sql, Handler<AsyncResult<JsonObject>> resultHandler)` would be forbidden as well but due to Java generic erasure)

Overall it would be good to chose a different name with something like `qu

[2016-08-30 08:00] vietj commented on #61
note also that it would mean to introduce an API type that extends `ReadStream<Row>` like `StreamingResult` or whatever else (because of lack of reification).

[2016-09-02 13:15] rozzamozza opened #69 "Shared JDBCClient deadlock"
io.vertx.core.VertxException: Thread blocked
 at io.vertx.ext.jdbc.impl.JDBCClientImpl.removeFromMap(JDBCClientImpl.java:158)
 at io.vertx.ext.jdbc.impl.JDBCClientImpl.lambda$lookupHolder$2(JDBCClientImpl.java:147)
 at io.vertx.ext.jdbc.impl.JDBCClientImpl$$Lambda$45/32529837.run(Unknown Source)
 at io.vertx.ext.jdbc.impl.JDBCClientImpl$DataSourceHolder.close(JDBCClientImpl.java:270)
 at io.vertx.

[2016-09-02 14:06] vietj commented on #69
hi, can you provide more details like a thread dump ?

[2016-09-02 14:15] vietj commented on #69
info :

first trace, locks on:
- DataSourceHolder (close)
- vertx instance (removeFromMap)

second trace, locks on:
- vertx (lookupHolder)
- DataSourceHolder (incRefCount)

[2016-09-02 14:23] vietj commented on #69
the obvious fix is to acquire lock in the same order in both close and create

[2016-09-02 14:42] gchauvet commented on #61
At the risk of to be considered as an "extremist": why not adopting a full asynchronous API for this library ? The synchronous approach is not very friendly with an event driven architecture ?

I'm aware this not acceptable before a major version but I think it's worth it.

[2016-09-02 14:54] vietj commented on #61
what do you mean by _full asynchronous_ ?

[2016-09-02 15:09] vietj commented on #69
[code]

seems to reproduce it easily

[2016-09-02 15:12] vietj commented on #69
with this dump:

[code]

[2016-09-02 15:17] vietj commented on #69
will have a look at the fix

[2016-09-05 15:18] #69 closed

[2016-09-06 02:55] mannluong opened #71 "java.lang.AbstractMethodError: oracle.sql.CLOB.free() on old Oracle JDBC Driver"
### Version

* vert.x core: 3.3.2
* vert.x jdbc-client: 3.3.2
* jdbc driver: 9.0.2.0.0
* RDBMS: Oracle

### General info

* What is your jdbc driver
oracle.jdbc.driver.OracleDriver
* What is your RDBMS server
Oracle
* What is your connection string (no user/passwords please!)
dbc:oracle:thin:@myserver:1521:db
### Context

I encountered an exception which looks suspicious while calling Oracle Store

[2016-09-07 00:13] mannluong commented on #71
The defect is applicable for both Blob and Clob.

[2016-09-09 12:54] pmlopes commented on #71
The defect will apply to all drivers complied for JDK5 isn't there any more up-to-date driver? It would feel more reasonable than wrap all blog/clob new JDBC api's with a try catch? WDYT?

[2016-09-10 05:04] mannluong commented on #71
Thanks FYI Paulo, unfortunately the old version of Orcle v9.x does not work with the new driver JDBC Driver.
Try/Catch for non-existent method is no ideal.
Possible solutions:
1) Java reflection can be used to check to see whether the Clob/Blob object has the free method

    public static boolean isExistedMethod(Object clobOrBlob, String methodName) {
        return Arrays.stream(obj.getClass().g

[2016-09-11 07:16] gchauvet commented on #61
IMO, full asynchronous mean for me a asynchronous API programming and the use of streams instead collections.

[2016-09-16 12:42] pmlopes commented on #61
@gchauvet @vietj @tsegismont @cescoffier would you like to provide some feedback on this proposal?

[2016-09-16 12:47] vietj commented on #61
yes

[2016-09-16 12:48] vietj commented on #61
is it implemented ?

[2016-09-16 13:19] pmlopes commented on #61
@vietj a test impl is available here: vert-x3/vertx-jdbc-client#73

[2016-09-25 10:05] rozzamozza opened #74 "generateKeys"
### Version
- vert.x core: 3.3.2
- vert.x jdbc-client: 3.3.2
- jdbc driver: Oracle 11.2.0.3
- RDBMS: Oracle
### General info
- What is your jdbc driver
- What is your RDBMS server
- What is your connection string (no user/passwords please!)
### Context

I encountered an exception which looks suspicious while ...
### Do you have a reproducer?
- Link to github project/gist
### Steps to reproduce

Wr

[2016-09-27 14:57] rozzamozza opened #75 "JDBC Performance - Prepared Statements, fetchSize"
### Version
- vert.x core: 3.3.2
- vert.x jdbc-client: 3.3.2
- jdbc driver: Oracle 11.2.0.3
- RDBMS: Oracle
### General info
- What is your jdbc driver
- What is your RDBMS server
- What is your connection string (no user/passwords please!)
### Context

This is not a bug but a general observation on performance and getting the most out of Oracle.
Other DBs are probably much better!
1. Prepared sta

[2016-09-29 12:27] pmlopes commented on #75
Prepared statements are cached on a connection based, if you want to take advantage of it you can better use the batching feature, which will do exactly that, prepare the statement once and then run an arbitrary number of times depending on your input. This way we don't keep state outside your own handler which leads us to be memory conservative and avoid leaks. WDYT?

[2016-09-30 13:13] rozzamozza commented on #75
Thanks Paulo - understood re not keeping round state.
Being able to set the default fetchSize or having some sort of Connection customiser woul dbe useful.
I guess we can look to do this someone how in c3p0 but if not we'll end up writing our own worker threads specific to Oracle etc.

[2016-09-30 13:27] pmlopes commented on #75
if you want full control over the connection you could look at the data source SPI: https://github.com/vert-x3/vertx-jdbc-client/blob/master/src/main/java/io/vertx/ext/jdbc/spi/DataSourceProvider.java and write a new one that could use any of the existing connection pools and does all the setup you want before giving a connection to your vert.x code.

[2016-10-03 07:52] pmlopes commented on #71
@mannluong would you mind to check if the PR #72 fixes your issue with your DB? so we can merge and close this issue.

[2016-10-03 11:09] mannluong commented on #71
@pmlopes the PR #72 fixes this issue.
Thanks

[2016-10-03 11:09] #71 closed

[2016-10-26 12:14] tsegismont opened #77 "Stabilize CI builds"
A third of the builds fail on Cloudbees. Here are the common culprits:
- io.vertx.ext.jdbc.JDBCCustomTypesTest.testCustom

[#1377](https://vertx.ci.cloudbees.com/job/vert.x3-jdbc-client/1377/)
[#1368](https://vertx.ci.cloudbees.com/job/vert.x3-jdbc-client/1368/)
[#1393](https://vertx.ci.cloudbees.com/job/vert.x3-jdbc-client/1393/)
[#1390](https://vertx.ci.cloudbees.com/job/vert.x3-jdbc-client/1390

[2016-11-01 11:36] #77 closed

[2016-11-02 14:34] tsegismont commented on #77
Paulo, from the last builds, it seems the issue is not resolved. I would like to reopen this ticket, unless you prefer to track failures separately.

[2016-11-02 15:42] pmlopes commented on #77
I've added a couple more changes to the test, each test run on its own DB, if this doesn't work then we need a proper fix which is re-write the tests without using static constructor to insert test data

[2016-11-02 16:14] tsegismont commented on #77
It seems two tests will run on the same DB, correct?

2016-11-02 16:42 GMT+01:00 Paulo Lopes <notifications@github.com>:

[2016-11-02 16:14] tsegismont commented on #77
Missing link...

https://github.com/vert-x3/vertx-jdbc-client/commit/066b2072a0ab367f0df8a0da4b4f99235bec8404

2016-11-02 17:14 GMT+01:00 Thomas SEGISMONT <tsegismont@gmail.com>:

[2016-11-02 18:51] pmlopes commented on #77
I mean each test suite (class file) will run on its own db, avoiding side effects across classes

[2016-11-10 08:04] #74 closed

[2016-11-10 08:36] #61 closed

[2016-11-24 13:20] romanpa opened #80 "Missing support for multiple result sets."
Current implementation of 'JDBCCallable'.execute() does not support calls to stored procedures that return multiple result sets.

Below is a current code. It is missing the usage of 'statement.getMoreResults();'.

[code]

It should be something like:

[code]

this is an example of stored procedure which returns multiple results:

[code]

[2016-12-05 06:37] buddhashrestha commented on #80
I am also looking for the same feature. Is there any better solutions for this or any other workaround?
Or, if this will be fixed or not in the future?

Trying to re-engineer the codes is really unmanageable, since the project depends upon another project (io.vertx.ext.sql), which I would not want to do.

[2016-12-05 09:31] pmlopes commented on #80
The complicated part here is that the sql-common assumed that there was only 1 resultset and this would break the whole API. Some thinkering is needed here.

[2016-12-05 12:03] romanpa commented on #80
Assuming that there is a modified 'JDBCCallable', which populates multiple ResultSets we can add some 'dirty' workaround, without breaking existing functionality.

Result set remains the same and gets addition, something like below:

public class ResultSet {

    private List<ResultSet> multipleSets = new ArrayList<>();

    public List<ResultSet> asMultiResultSets() {
        if (multipleSets.isE

[2016-12-06 06:08] buddhashrestha commented on #80
Hmm... I might be missing something here, but the ResultSet is also from a different project -> io.vertx.ext.sql

So, inorder to make it compatible, I would require to maintain 3 different projects, which I donot want to do.

Could you please share your workaround so that I could have a look at it.

[2016-12-06 10:13] pmlopes commented on #80
@buddhashrestha @romanpa would you like to review #82

This is a minimal impact change that will not affect existing code or interfere with the async client.

[2016-12-08 15:09] romanpa commented on #80
Hi

Thanks for prompt response.
Looks nice.
Will it be included in upcoming Vertx release?

[2016-12-08 16:27] buddhashrestha commented on #80
Yup. Thanks for the quick impl. This worked for me.

[2016-12-08 16:33] pmlopes commented on #80
After a proper review and acceptance from the community it should.

[2016-12-15 12:32] #80 closed

[2017-01-01 16:37] leosilvadev opened #84 "JDBC call - executeBlocking with ordered=true"
### Version

* vert.x core: 3.2.1
* vert.x jdbc-client: 3.2.1
* jdbc driver: mysql-connector-java 5.1.39
* RDBMS: Mysql

### General info

* What is your jdbc driver
* What is your RDBMS server
* What is your connection string (no user/passwords please!)

### Context
Not a bug probably, but a question: why the jdbc calls are executed with executeBlocking in ordered way?
I was making some load test

[2017-01-02 09:54] tsegismont commented on #84
You can use issues to ask implementation questions though the preferred way
would be to drop an email to the vertx-dev list (see "Developer Group" on
http://vertx.io/community/)

That said, jdbc calls are executed with executeBlocking set to true because
all actions on a JDBC connection must happen in order. It is not a global
serialization mechanism though, an internal WorkerExecutor is created f

[2017-01-04 16:39] #84 closed

[2017-01-30 02:46] bhowell2 opened #85 "J"
I'm having quite a few problems with vertx-unit with vertx-jdbc-client.
A reproducer has been provided, it uses embedded postgres, postgres JDBC driver, and vertx 3.4.0-SNAPSHOT vertx stuff.
When using Async with JDBCClient, the test is stalling out until the timeout fires.
[code]

However, there is no problem when using this code:
[code]

Reproduce:
Quite the simple reproducer here: https://githu

[2017-01-30 02:47] #85 closed

[2017-01-30 02:47] bhowell2 opened #86 "Vertx async stalling out with await and JDBCClient callback."
I'm having quite a few problems with vertx-unit with vertx-jdbc-client.
A reproducer has been provided (below), it uses embedded postgres, postgres JDBC driver, and vertx 3.4.0-SNAPSHOT vertx stuff.
When using Async with JDBCClient, the test is stalling out until the timeout fires.
[code]

However, there is no problem when using this code:
[code]

Reproduce:
Quite the simple reproducer here: https

[2017-01-30 08:59] cescoffier commented on #86
Hi,

First, it's not really an "issue", so you should ask the question on the
Vert.x Google group.

In your code. I see several issues. You need to add the JDBC driver to your
classpath:

testCompile  "org.postgresql:postgresql:9.4.1212"

Then, you are using the "RunOnContext" rule. With this rule enabled, the
test runs on the event loop, and you must never block the event loop.
`async.await` bloc

[2017-01-30 17:39] bhowell2 commented on #86
Hi Clement,

Thanks for your response. Blocking the event loop is quite an embarrassing and major oversight on my part!

Also, forgot to re-push the github example with the driver, but it was there in my tests.

[2017-01-30 17:39] #86 closed

[2017-02-19 16:07] vietj opened #87 "Slient NPE when running tests"
An NPE appears when running tests although tests don't fail:

[code]

[2017-02-21 19:42] #87 closed

[2017-03-02 07:20] jakefeasel opened #90 "Support for getMetaData"
### Version

* vert.x core: 3.1.0
* vert.x jdbc-client: 3.1.0
* jdbc driver: mysql-connector-java-5.1.31.jar
* RDBMS: mysql  Ver 14.14 Distrib 5.7.10, for osx10.10 (x86_64) using  EditLine wrapper

I am trying to get access to the meta data for my SQLConnection, and it seems this is unavailable. This is the function I'm interested in :

https://docs.oracle.com/javase/8/docs/api/java/sql/Connection

[2017-03-02 08:11] pmlopes commented on #90
This is not available out of the box since the SQL API is supposed to be generic and is shared both by JDBC and non-JDBC clients. As an possible improvement we could enhance the base Connection API to return the raw underlying connection object, so in this case you would get a `java.sql.Connection` and on the non-JDBC ones you would get something else...

[2017-03-04 02:22] jakefeasel commented on #90
Having access to the underlying connection would be perfect.

[2017-03-21 11:16] gshegosh opened #92 "JDBCClient.rxGetConnection() doesn't work with MS SQL Server"
### Version

* vert.x core: 3.4.1
* vert.x jdbc-client: 3.4.1
* jdbc driver: https://www.microsoft.com/en-us/download/details.aspx?displaylang=en&id=11774
* RDBMS: Microsoft SQL Server 2014 Developer

### General info

* What is your connection string (no user/passwords please!)

I put following 4 parameters inside jdbcConfig in JDBCClient.createShared(vertx, jdbcConfig) call:

[code]

### Context

[2017-03-21 11:19] gshegosh commented on #92
A diff for my fix is:

[code]

[2017-03-22 13:25] tsegismont commented on #92
Can you put together a small reproducer on GitHub? With instructions for
starting SQL server from Docker?

This sounds very weird to me I never had any trouble with the Rxified JDBC
client and Postgres.
The database type shouldn't have any influence.

2017-03-21 12:19 GMT+01:00 Grzegorz Krugły <notifications@github.com>:

[2017-03-22 14:09] gshegosh commented on #92
I will try to prepare a small reproducer in a couple of days. Not sure about running MS stuff under docker, but I can always temporarily make a dev MS SQL available from my machine.

[2017-03-22 14:18] tsegismont commented on #92
I was thinking about https://hub.docker.com/r/microsoft/mssql-server-linux/

2017-03-22 15:09 GMT+01:00 Grzegorz Krugły <notifications@github.com>:

[2017-03-27 11:24] #90 closed

[2017-03-30 21:51] SrivatsM opened #96 "CallableStatement not handling result set if it is not the first result returned"
### Version

* vert.x core:3.4.1
* vert.x jdbc-client:3.4.1
* jdbc driver:net.sourceforge.jtds.jdbc.Driver
* RDBMS: SQLServer 2012

### General info

* What is your jdbc driver: http://jtds.sourceforge.net/
* What is your RDBMS server -  Microsoft SQLServer 2012
* What is your connection string (no user/passwords please!)
jdbc:jtds:sqlserver://dbServer:1433;databaseName=xxxx
### Context

If I exec

[2017-04-05 21:40] dgbustos opened #97 "JDBCSQLRowStream.readRows() should fail fast if ResultSet is closed"
### Version

* vert.x core: 3.4.1
* vert.x jdbc-client: 3.4.1
* jdbc driver: c3p0-0.9.5.2 & mysql-connector-java-5.1.38
* RDBMS: MariaDB 10.0.29

### General info

* What is your jdbc driver

c3p0 & mysql-connector-java

* What is your RDBMS server

MariaDB

* What is your connection string (no user/passwords please!)

jdbc:mysql://localhost/test_branddb

### Context

I was trying out the streamin

[2017-04-06 09:43] pmlopes commented on #97
If you close the connection, calling the code:

[code]

Will not trigger the the exception because the state of the result set is not linked to the state of the connection, or it can have different behaviour if you use different connection pools.

You do get the error on the exception handler that the state of the cursor is not valid. But again once you swap connection pools the message can be dif

[2017-04-09 17:57] NathanQuinn commented on #75
@pmlopes
With the oracle jdbc driver, the default fetch size is set to 10 on ResultSet and PreparedStatement.  Generally speaking, we tend to set this to 50 or 100, then tune queries to appropriate other sizes when necessary.  Unfortunately, because there isn't an easy way to extend the manner in which JDBCConnectionImpl passes down its JDBCStatementHelper and JDBCConnectionImpl isn't extendable,

[2017-04-10 07:46] pmlopes commented on #75
@rozzamozza we're discussing improvements to the API: https://groups.google.com/forum/#!topic/vertx-dev/TROkyJQRJIU we could try to have:

[code]

Where the last jsonObject/DataObject could be used to pass any config to the statement such as:

* fetchSize
* timeout
* maxRows
* return keys etc...

WDYT?

[2017-04-10 19:27] pmlopes commented on #92
I've tested:

[code]

With:

[code]

with pom.xml

[code]

And got the result:

[code]

[2017-04-10 19:27] #92 closed

[2017-04-10 19:28] #97 closed

[2017-04-25 06:50] pmlopes commented on #75
https://github.com/vert-x3/vertx-jdbc-client/pull/98 covers all the options on the comment above:

* fetchSize
* timeout
* return keys
* fetchDirection
* catalog
* schema
* tx isolation

So we can keep adding more stuff in the future without breaking the API

[2017-04-25 06:52] pmlopes commented on #43
Fixed by: https://github.com/vert-x3/vertx-jdbc-client/pull/98

[2017-06-12 11:58] vietj opened #102 "Rx SQLRowStream with cursor example"
the `SQLRowStream` supports cursors results, we should have an example of how to use it with Rxified API.

[2017-06-27 12:41] pmlopes commented on #102
Issue moved to [vert-x3/vertx-examples #203](https://github.com/vert-x3/vertx-examples/issues/203) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-27 12:41] #102 closed

[2017-07-03 00:19] jakefeasel commented on #90
Did this commit make it into 3.4.2? Based on the commit history it looks to me like it did, and yet when I look within the decompiled class that ships with vert.x 3.4.2 the "nativeConnection" method is not available within JDBCConnectionImpl. Naturally, I can't call it either -

[code]

[2017-07-03 05:53] vietj commented on #90
it has been renamed to `unwrap`

[2017-07-03 05:54] vietj commented on #90
_native_ has a special meaning for Java and usually we tend rather to use `unwrap` across the Vert.x API when it comes to get the underlying object

[2017-07-09 22:06] jakefeasel commented on #90
Thanks, this works perfectly! I've already gotten more use out of this method than I originally planned for. Cheers!

[2017-07-18 12:42] zengkunliang opened #104 "getConnection can not get results"
### Version

* vert.x core:3.1.0
* vert.x jdbc-client:3.1.0
* jdbc driver:Oracle 11.2.0.3
* RDBMS:Oracle

### General info

* What is your jdbc driver
* What is your RDBMS server
* What is your connection string (no user/passwords please!)

### Context

JDBCClientImpl The target database is not accessible when the connection is created for the first time The getConnection function can not handle n

[2017-07-18 13:03] pmlopes commented on #104
@zengkunliang can you provide a stacktrace?

[2017-09-08 18:08] dgbustos opened #105 "JDBCClientImpl blocks shutdown if AbstractVerticle.start(Future) fails"
### Version

* vert.x core: 3.4.1
* vert.x jdbc-client: 3.4.1
* jdbc driver: com.mysql.jdbc.Driver
* RDBMS: MariaDB

### General info

* What is your jdbc driver MySQL
* What is your RDBMS server MariaDB
* What is your connection string (no user/passwords please!)

### Context

The `start(Future<Void> startFuture)` method of my verticle calls `startFuture.fail()` if something goes wrong.  Before d

[2017-09-10 12:27] tsegismont commented on #105
Could you try with a Vert.x core master build? (3.5.0-SNAPSHOT)

I think this PR will solve your issue:
https://github.com/eclipse/vert.x/pull/2113

2017-09-08 20:08 GMT+02:00 dgbustos <notifications@github.com>:

[2017-09-11 22:57] dgbustos commented on #105
Yes, that seems to fix it.

[2017-09-12 12:58] tsegismont commented on #105
@dgbustos thank you

[2017-09-12 12:58] tsegismont commented on #105
Duplicates eclipse/vert.x#2113

[2017-09-12 12:58] #105 closed

[2017-10-12 10:03] EmadAlblueshi opened #109 "Instant as string returns unexpected result"
* `Vert.x version 3.4.2`
* `JDBC Driver org.postgresql 42.1.4`
* `PostgreSQL 10.0 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-16), 64-bit`
* `jdbc:postgresql://localhost:5432/vertx", "****", "****"`

### Always returns `false`

[code]
### Always returns `true`
[code]

[2017-10-12 11:51] pmlopes commented on #109
@EmadAlblueshi this is because of the optimistic casting happening on the client where it internally converts the textual representation to a Instant type:

https://github.com/vert-x3/vertx-jdbc-client/blob/master/src/main/java/io/vertx/ext/jdbc/impl/actions/JDBCStatementHelper.java#L268

[2017-10-12 12:23] EmadAlblueshi commented on #109
@pmlopes Yes, my use case is to save and query the value as string only in `JSONB` data type which I think it should be ignored from the optimistic casting for example :

[code]
If I remove the `Z` character it will work as expected and I'm not sure if there is any workaround to solve the issue.

[2017-10-12 12:25] pmlopes commented on #109
if you remove it you also loose the TimeZone info... it then assumes your system timezone

[2017-10-12 12:27] pmlopes commented on #109
I believe we need to revive this discussion:

https://groups.google.com/forum/#!topic/vertx-dev/TROkyJQRJIU

[2017-10-12 12:29] EmadAlblueshi commented on #109
@pmlopes :+1:

[2017-10-19 12:06] ca7erina opened #110 "Support for storing binary data to blob"
### Version

* vert.x core: 3.4.1
* vert.x jdbc-client: 3.4.1

### General info
* RDBMS server : MySQL

### Context
`JsonArray jsonArray = new JsonArray().add(new byte[]{0x00, 0x01, 0x03});`
`conn.queryWithParams(storeSql, jsonArray, res -> {  } );`

* Currently, the byte[] data will be encoded by Base64 and stored to blob. It bring extra effort to encoding and decoding the string.

* JsonArray do

[2017-10-20 09:14] gshegosh opened #111 "Memory footprint"
Since all query results are put into JsonArray at once, for queries with a lot of rows, vertx-jdbc consumes a substancial amount of RAM (in my usage, it goes above 2GB).

In addition, ResultSet.getRows() method creates a new full-sized list, doubling memory usage.

It would be nice to have a way to iterate results (preferably as JsonObjects) as they come, without storing them all in the RAM.

[2017-10-20 09:53] tsegismont commented on #111
For large result sets you should use streaming

http://vertx.io/docs/vertx-sql-common/java/#_streaming

Le 20 oct. 2017 11:14 AM, "Grzegorz Krugły" <notifications@github.com> a
écrit :

[2017-10-22 11:37] EmadAlblueshi opened #112 "rxSetAutoCommit is not available in single SQL operations"
### Version

* `Vert.x version 3.5.0`
* `JDBC Driver org.postgresql 42.1.4`
* `PostgreSQL 10.0 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-16), 64-bit`
* `jdbc:postgresql://localhost:5432/vertx", "****", "****"`

[2017-10-24 10:51] EmadAlblueshi opened #113 "UpdateResult#getKeys() always empty"
### Version

* `Vert.x version 3.5.0`
* `JDBC Driver org.postgresql 42.1.4`
* `PostgreSQL 10.0 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-16), 64-bit`
* `jdbc:postgresql://localhost:5432/vertx", "****", "****"`

### Keys are always empty

[code]

[2017-10-25 20:28] gshegosh commented on #111
Somehow I've skipped this part of docs. Closing the issue, then. Thanks.

[2017-10-25 20:28] #111 closed

[2017-10-26 19:42] ruslansennov commented on #113
@EmadAlblueshi By default, sql statements prepared with `Statement.NO_GENERATED_KEYS` flag.
To change this flag you should set `SQLOptions` in `SQLConnection`, see [example test](https://github.com/vert-x3/vertx-jdbc-client/pull/98/files#diff-fb157d6edcf133363a26ed12e3740296R614)

[2017-10-29 13:16] EmadAlblueshi commented on #113
@ruslansennov You are absolutely right. Thanks! :+1:

[2017-10-29 13:16] #113 closed

[2017-11-10 06:41] mscofy opened #115 "UpdateResult get empty array when insert data"
### Version 3.5.0

* vert.x core: 3.5.0
* vert.x jdbc-client:  3.5.0
* jdbc driver:3.5.0
* RDBMS:mysql

### General info

String sql = "insert into test(val) values(?);";
jdbcClient.updateWithParams(sql, params, res->{
UpdateResult res = (UpdateResult) handler.result();
			JsonArray array = res.getKeys();
			int len = res.getUpdated();
			System.out.println("len:"+len+" array:"+array.toString());

[2017-11-10 10:27] EmadAlblueshi commented on #115
Kindly see https://github.com/vert-x3/vertx-jdbc-client/issues/113

[2017-11-10 12:55] newgeekorder opened #116 "BoneCPDataSourceProvider unable to set the int provider values partitionCount , maxConnectionsPerPartition"
### Version

* vert.x core: 3.5.0
* vert.x jdbc-client: 3.5.0
* jdbc driver: org.h2
* RDBMS: h2

### General info

* What is your jdbc driver
org.h2.JdbcDriver
* What is your RDBMS server
h2
* What is your connection string (no user/passwords please!)
`  h2Client = JDBCClient.createShared(vertx, new JsonObject()
                .put("provider_class", "io.vertx.ext.jdbc.spi.impl.BoneCPDataSourcePro

[2017-11-13 06:29] #115 closed

[2017-11-17 14:34] joao-rebelo opened #117 "Run JDBC blocking outside of Vertx executor"
Maybe this is more of a question than an actual issue..
If I understand the code, when a JDBC blocking operation is executed it goes into the Vertx Core ContextImpl -> workerPool.
  Is this the pool of thread that is handling the mainstream reactive code?
  If so, shouldn't the JDBC operations run in a different worker pool?

  I can imagine a scenario where we would have 7 cores, and I would like

[2017-11-17 15:22] vietj commented on #117
non blocking are different event loop threads, they are not borrowed from a pool, as these threads remain the same for the lifetime of the event loop.

[2017-11-17 15:22] #117 closed

[2017-12-04 12:11] schernysh opened #118 "Helper methods based on JDBCClientImpl#executeDirect invoke result handler outside of original context"
### Version

* vert.x core: 3.5.0
* vert.x jdbc-client: 3.5.0
* jdbc driver: irrelevant
* RDBMS: irrelevant

### Context

While using io.vertx.ext.jdbc.JDBCClient#queryWithParams I've noticed that the handler passed to this method is executed outside of the verticle context. The culprit seems to be [this line](https://github.com/vert-x3/vertx-jdbc-client/blob/e8d5a54c89a6c6b95003712315281852af2f69

[2017-12-07 11:13] hefeiyun opened #119 "why "new ThreadPoolExecutor(1, 1,...)" ? create only one thread in pool, is enough ?"
### Version

source code:

synchronized ExecutorService exec() {
      if (exec == null) {
        exec = new ThreadPoolExecutor(1, 1,
            1000L, TimeUnit.MILLISECONDS,
            new LinkedBlockingQueue<>(),
            (r -> new Thread(r, "vertx-jdbc-service-get-connection-thread")));
      }
      return exec;
    }

[2017-12-07 13:07] vietj commented on #119
@hefeiyun this is a pool for getting connection, not using them

[2017-12-11 11:13] tsegismont commented on #112
@EmadAlblueshi I'm not sure what you mean. Are you talking about methods like [this one](https://github.com/vert-x3/vertx-sql-common/blob/master/src/main/java/io/vertx/ext/sql/SQLOperations.java#L55)? In this case, a single operation can only run in autocommit mode.

[2017-12-13 08:30] ekans opened #120 "Autogenerated keys not present by default after an insert since 3.5.0"
### Version

* vert.x core: 3.5.0
* vert.x jdbc-client: 3.5.0

### Context

Since 3.5.0 autogenerated keys are not returned into UpdateResult so it breaks my code when updating from 3.4.2 to 3.5.0.

Now I have to pass to my SQLConnection an SQLOptions with autoGeneratedKeys to true.

For future potential breaking changes, do you have some documentation listing theses changes?

### Steps to reprodu

[2017-12-13 09:29] pmlopes commented on #120
Fixed by: https://github.com/vert-x3/vertx-jdbc-client/commit/14aa549213afdd5bc15a6b984064176529fb8e7f

[2017-12-13 09:29] #120 closed

[2017-12-15 10:43] rozzamozza commented on #110
The JDBCStatementHelper can take clobs and blobs. What would be useful is to add SQLConnection.createBlob() and sqlConnection.createClob() which call the underlying connection as these are often created using the underlying SQL Connection

[2017-12-15 10:46] rozzamozza commented on #110
Actually just spotted the unwrap() method.
I.e. you can use Blobs and Clobs in these queryParams connection.unwrap().createBlob()...

Clobs/blobs are automatically freed when added to the statement.

[2017-12-18 15:47] tsegismont commented on #116
@newgeekorder yes please provide a pull request with a test which fails without the fix and passes with it

[2017-12-19 20:45] #112 closed

[2017-12-20 02:53] hefeiyun opened #121 "is there a bug ?"
### Version
master

### Context

JDBCClientImpl.java
[code]
# Question
when Exception,   "Connection conn"  would leak  ?

[2017-12-20 02:54] #119 closed

[2017-12-20 09:51] tsegismont commented on #121
I don't think so. Only `ds.getConnection()` can throw an `SQLException`

[2017-12-20 09:51] #121 closed

[2017-12-20 10:41] hefeiyun commented on #121
no Exception throw here?  Thanks
"Object execMetric = null;
        if (metrics != null) {
          execMetric = metrics.begin(queueMetric);
        }
        // wrap it
        res.complete(new JDBCConnectionImpl(ctx, helper, conn, metrics, execMetric));
"

[2017-12-20 10:47] tsegismont commented on #121
A misbehaving Metrics SPI impl could throw a `RuntimeException`. But then the app would not be able to access the database anyway.

[2018-01-11 11:11] tsegismont commented on #118
@schernysh nice catch! Since you prepared a test and a fix, how about contributing this in a pull-request?

[2018-01-12 15:55] #118 closed

[2018-01-12 15:56] tsegismont commented on #118
@schernysh I went ahead and merged the fix. Thanks again for the reporting

[2018-01-18 07:07] laudylcp opened #123 "serverTimeZone=Asia/Shanghai, It doesn't work??"
### Version

* vert.x core: 3.5.0
* vert.x jdbc-client: 3.5.0
* jdbc driver: com.mysql.cj.jdbc.Driver,  mysql-connector-java:6.0.5
* RDBMS: mysql 5.7.16

### General info

* What is your jdbc driver
mysql:mysql-connector-java:6.0.5
* What is your RDBMS server
mysql 5.7.16
* What is your connection string (no user/passwords please!)
protected static JsonObject config = new JsonObject()

[2018-01-18 07:40] pmlopes commented on #123
How are you reading the time? Json encoded temporal types follow the json rfcs which mean that they are always encoded in time zone Zulu (UTC)

[2018-01-18 07:47] #123 closed

[2018-03-29 22:03] utey opened #129 "OSGi Bundle is Missing io.vertx.reactivex.ext.jdbc in its Exported Packages"
### Version

* vert.x core: N/A (3.5.0)
* vert.x jdbc-client: 3.5.0, 3.5.1
* jdbc driver: N/A (org.hsqldb)
* RDBMS: HSQL

*** The bundle came from maven central.

### Context

When trying to use the reactivex jdbc client in an OSGi-based project, I was unable to resolve my dependencies on io.vertx.reactivex.ext.jdbc. Upon closer examination of the manifest, I noticed that
the reactivex/rxjava2 var

[2018-03-30 06:13] vietj commented on #129
we have currently reworked our approach for packaging RxJava with the Vert.x component and now the integration happens in the vertx-rx-java2 artifact

[2018-04-02 14:17] utey commented on #129
Thanks for the quick reply! I think I'm still missing something though; is there a generated osgi bundle that exports io.vertx.reactivex.ext.jdbc? The vertx-rx-java2 artifact doesn't appear to.

[2018-04-05 18:37] ruixuel opened #130 "Support column type for ResultSet"
### Version

* vert.x core: 3.5.1
* vert.x jdbc-client: 3.5.1
* jdbc driver: postgres
* RDBMS: postgres

### Context
Hi, I am wondering if it is possible to add column type in io.vertx.ext.sql.ResultSet.
I need column data type from java.sql.ResultSetMetaData and convert the query result to apache arrow according to the column data type.

In io.vertx.ext.jdbc.impl.actions.JDBCStatementHelper.java,

[2018-04-13 10:49] #75 closed

[2018-04-24 08:17] pmlopes opened #131 "When using OUT arguments that return ResultSet's we need to adapt API to allow nested ResultSets"
See: https://github.com/vert-x3/vertx-jdbc-client/pull/45#issuecomment-380701360

The current issue is that on stored procedures we assumed (wrongly) that there would be just 1 resultset do the resultset does not allow chaining. We need to allow it otherwise we throw class cast exceptions as ResultSet is not a valid JSON type to be added to the main object

[2018-04-24 08:20] pmlopes opened #132 "Define a DataObject for config instead of relying on JSON"
When working with different connection pool we will have runtime issues with configuration as each one uses different property names.

[2018-05-07 05:37] laudylcp opened #133 "Use HikariCP connection pool, Connections not closed???"
### Version

* vert.x core: 3.5.0
* vert.x jdbc-client: 3.5.0
* jdbc driver:
![default](https://user-images.githubusercontent.com/23287431/39686104-b8c1b860-51f9-11e8-95d6-71c9b02bbbba.png)

* RDBMS: Mysql 5.7

### General info

* What is your jdbc driver
![default](https://user-images.githubusercontent.com/23287431/39686108-c41c64e4-51f9-11e8-8897-087b68a72ca5.png)

* What is your RDBMS server
My

[2018-05-21 13:02] ordiy opened #134 "vertx-jdbc C3P0DataSourceProvider not support config ```preferredTestQuery```"
### Version

* vert.x core: 3.4.1
* vert.x jdbc-client:3.4.1
* jdbc driver: jdbc4
* RDBMS: mysql 5.7

### General info

* What is your jdbc driver
* What is your RDBMS server
* What is your connection string (no user/passwords please!)
my mysql connection config json:
[code]

### Context
as  io.vertx.ext.jdbc.spi.impl.VertxFactoryLoader not support config ```preferredTestQuery```, my application h

[2018-05-23 11:20] dat91 opened #135 "Exception when execute stored procedure with cursor output parameter"
### Version

* vert.x core: 3.5.1
* vert.x jdbc-client: 3.5.1
* jdbc driver: oracle.jdbc.pool.OracleDataSource
* RDBMS: Oracle Database 12.2.0.1

### General info

* What is your jdbc driver: oracle.jdbc.pool.OracleDataSource
* What is your RDBMS server: Oracle Database 12.2.0.1
* What is your connection string (no user/passwords please!): `jdbc:oracle:thin:@//${host}:${port}/${service}`

### Cont

[2018-05-28 12:40] tsegismont commented on #134
First I would not use `autoReconnect=true` in the connection url, especially if connection is managed in a pool. See the [connector-j documentation](https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-reference-configuration-properties.html) on this connection property.

Then you can set any c3p0 property by adding a `c3p0.properties` file to the classpath, as indicated in the [documentation]

[2018-05-28 13:36] tsegismont commented on #135
@dat91 your fix looks good to me.

 @pmlopes I wonder how this could work actually. Thoughts? It seems `ResultSet` as an `OUT` param was introduced in #36 . I think it's important as it's the only for Oracle users to get query results out of a stored procedure.

[2018-06-08 09:44] ensirius commented on #104
I have fixed this by setting `acquire_retry_attempts`

[2018-06-08 10:06] tsegismont commented on #104
Thanks @ensirius for the update

[2018-07-03 17:08] baranidharanc opened #137 "close"
### Version

* vert.x core:
* vert.x jdbc-client:
* jdbc driver:
* RDBMS:

### General info

* What is your jdbc driver
* What is your RDBMS server
* What is your connection string (no user/passwords please!)

### Context

I encountered an exception which looks suspicious while ...

### Do you have a reproducer?

* Link to github project/gist

### Steps to reproduce

1. ...
2. ...
3. ...
4. ...

#

[2018-07-03 17:20] #137 closed

[2018-08-04 18:31] MeiyappanKannappa opened #138 "get byte[] from JDBC for GZIP decompression"
HI I have compressed data as byte[], stored in DB table column. I need to get the byte[] and decompress it. But there is no direct method to get data as byte[] in vert.x jdbc. I tried using getBinary(0) , but it throws me below exception

java.lang.IllegalArgumentException: Illegal base64 character 1f
at java.util.Base64$Decoder.decode0(Base64.java:714)
at java.util.Base64$Decoder.decode(Base64.ja

[2018-08-06 10:34] tsegismont commented on #138
What's the DB column definition?

[2018-08-06 11:33] MeiyappanKannappa commented on #138
hi the column in DB is "text" data type.

[2018-08-07 07:35] tsegismont commented on #138
Is the data encoded with base64?

[2018-08-07 08:37] MeiyappanKannappa commented on #138
It is not encoded with Base64. The output of GZIPCompression is stored as such in to the table.

[2018-08-07 09:00] tsegismont commented on #138
I'm not sure what the SQLServer driver does when you store an array of bytes in a text column. In any case, [`JsonArray.getBytes(int)`](https://vertx.io/docs/apidocs/io/vertx/core/json/JsonArray.html#getBinary-int-) expects a base64 string (JSON spec has no notion of binary). I would recommend to convert the column data to base64 in your SQL queries.

[2018-08-07 13:06] tsegismont commented on #138
I did not mean converting the stored data, I meant converting the stored data from text to base 64 on the fly when executing your queries.

[2018-08-09 04:39] #104 closed

[2018-08-27 12:43] lalitjeevanrao opened #139 "Negative value in "vertx.pools.datasource.*.in-use""
### Version

* vert.x core: 3.5.0
* vert.x jdbc-client: 3.5.0
* jdbc driver: HSQLDB Driver 2.3.2
* RDBMS: HSQLDB

### General info

* What is your jdbc driver - HSQLDB Driver
* What is your RDBMS server - HSQLDB
* What is your connection string (no user/passwords please!) - jdbc:hsqldb:mem:test?shutdown=true

### Context

I created a JDBCVerticle, a worker verticle, which is responsible to execute

[2018-09-04 15:26] rgiaccio opened #140 "JDBCClient::updateWithParams does not return the generated keys"
### Version

* vert.x core: 3.5.3
* vert.x jdbc-client: 3.5.3
* jdbc driver: org.postgresql.Driver
* RDBMS:PostgreSQL

### General info

* What is your jdbc driver: org.postgresql.Driver 42.2.4
* What is your RDBMS server: PostgreSQL 10
* What is your connection string (no user/passwords please!): jdbc:postgresql://localhost/gandalf

### Context

I was implementing a REST service and got the follo

[2018-09-04 16:00] lalitjeevanrao commented on #139
@vietj Would you allow me to make required changes?

[2018-10-01 10:57] manikantag commented on #131
@pmlopes, as you mentioned I'm getting the exception [(added more details here)](https://github.com/vert-x3/vertx-jdbc-client/pull/45#issuecomment-425852193).

I tried the below fix in `JDBCCallable.convertOutputs()`:

[code]

and, getting correct resultset rows using `resultSet.getOutput().getJsonArray(0).getList()` (here, the index in `getJsonArray(...)` will change based on the cursor param pos

[2018-10-11 14:14] tsegismont commented on #140
@rgiaccio thanks for reporting, I just pushed #145 to fix it

[2018-10-11 14:17] #140 closed

[2018-10-18 11:56] jdmnd opened #147 "JDBCSQLRowStream.columns() returns column names instead of labels"
The SQLRowStream implementation exposes column names through the `.columns()` method.
This is intended to correspond (I guess) to `vertx.ext.sql.ResultSet.getColumnNames()`.

_However_, the implementation here:

https://github.com/vert-x3/vertx-jdbc-client/blob/master/src/main/java/io/vertx/ext/jdbc/impl/actions/JDBCSQLRowStream.java#L107

uses `ResultSetMetadata.getColumnName` whereas the `JDBCSt

[2018-10-18 12:28] jdmnd commented on #147
👍 Will do

[2018-10-18 14:06] #147 closed

[2019-01-20 08:36] FreeTymeKiyan commented on #134
@tsegismont I tried to add a c3p0.properties file to classpath and run my vertx app like this:
`java -jar build/libs/apas-be-0.1.0-fat.jar -cp "build/resources/main/*"`

But when I checked the log c3p0 still didn't pick up the properties I added.

Properties file
[code]

Log
[code]

Could you kindly share why?

[2019-01-21 00:59] FreeTymeKiyan commented on #134
@tsegismont I realized that as the file `c3p0.properties` is put under resources directory, when I generate the fat jar, it's included already.  I verified that by unzipping the fat jar. Simply run `java -jar the-fat.jar` should pick up the properties right? How come the properties are still not picked up?

[2019-01-21 01:09] FreeTymeKiyan commented on #134
Alright. I compared my new log file with the old ones before I added the properties file. It seems that the file is found, but the properties are not set for some reason. I revisited [the c3p0 docs](https://www.mchange.com/projects/c3p0/#c3p0_properties), and noticed that all properties are prefixed with `c3p0.`.

So the exact way to add those c3p0 configurations is:
1. add a file named `c3p0.prop

[2019-03-22 15:59] mikeluz opened #156 "ResultSet not returning from successful procedure call when called using io.vertx.ext.sql.SQLClient"
### Version

* vert.x core: 3.5.3
* vert.x jdbc-client: 3.5.3
* jdbc driver: com.microsoft.sqlserver.jdbc.SQLServerDriver
* RDBMS: SQLServer

### Context

I have a SQLServer stored procedure that, when called using the Vert.X SQLClient (A) will not return a ResultSet (but does return db success code/return value so the db is hit and the proc does run) whereas when it is called using a standard Jav

[2019-04-04 15:32] javadevmtl opened #157 "Can the client offer creation result handler?"
#1 I think the creation of the client should have a creation result handler just like HttpServer has for example. Like this we can know if the DB pool was created properly.

This is independent of drivers or pools. Basically put a wrong host or port or database and then wait for the pool to fail creating the client. An exception is caught on the event loop, but there no way for us to handle it unl

[2019-04-11 14:36] javadevmtl commented on #157
More detail here: https://groups.google.com/forum/?fromgroups=#!topic/vertx-dev/DLdnx0Zr7wo

[2019-04-23 11:51] tsegismont commented on #157
If there is blocking code that is not wrapped in `executeBlocking` then agreed it must be fixed.

But for the creation method, I disagree. It is very convenient to create it and let the application start without having to care if/when the database will be available.

If it is an application requirement to fail starting when the DB is not available then the application should send a simple request

[2019-04-23 12:59] javadevmtl commented on #157
Hi, I think there's a misunderstanding of the bug...

At least with the Hikari pool, if you put an invalid host or say password or basically make the connection to to the database fail, then you get an unhandled exception. So at least Hikari pool seems to eagerly create the connections.

I posted exceptions/details on the Google thread. I can post them back here if you like?

1- You can clearly se

[2019-04-23 13:19] tsegismont commented on #157
Yes I didn't read the user group thread I only replied to the comment about the API change.

I didn't know Hikari eagerly creates the connections and I'll try to find out if we can prevent this.

Yes it is expected from a pool manager to provide connection testing. But many applications prefer not to block startup sequence because the database is not ready yet.

Agreed. I'm not suggesting users sh

[2019-04-23 14:06] tsegismont commented on #157
I can confirm that both c3p0 and Agroal (the other datasource providers) do not fail immediately if a host or port is wrong.

Hikari has a [_fail fast_](https://github.com/brettwooldridge/HikariCP/blob/dev/src/main/java/com/zaxxer/hikari/pool/HikariPool.java#L115) check that should be disabled.

[2019-04-23 15:06] javadevmtl commented on #157
Ok, but what about the exceptions that are caught and wrapped as RuntimeExceptions? Will that remain the same?

[2019-04-23 15:19] tsegismont commented on #157
I think, the JDBC client should be reworked to defer datasource initialization to the first invocation of `getConnection`.

[2019-04-30 22:59] r-mueller opened #158 "What are the differences between a shared data source and a non shared data source?"
### Context
This is not an issue report but just a question.

The vertx jdbc client documentation mentions that "In most cases I will want to share a data source between different client instances". It does not explain why it is a better idea to create shared jdbc data sources.
https://vertx.io/docs/vertx-jdbc-client/java/#_using_default_shared_data_source

What are the pros. and cons. of both met

[2019-05-02 08:20] tsegismont commented on #158
Vert.x applications are often built using verticles. Verticles are assigned a single event loop on deployment and, to use all the cores available, you would deploy multiple instances. But when you create a pool of database connections, you often don't want each verticle to create its own pool. This is where shared data sources can help.

[2019-05-02 08:20] #158 closed

[2019-06-13 16:10] Sammers21 opened #162 "Allow multi-query result access"
### Version

* vert.x core: 3.7.1
* vert.x jdbc-client: 3.7.1
* jdbc driver: '7.2.2.jre8'
* RDBMS: mssql-server 2017

### Context

There is no way to execute a few queries at once and obtain results for each of them.

### Do you have a reproducer?

https://github.com/Sammers21/multi-query-vertx-jdbc-reporoducer

[code]

[2019-06-13 16:26] Sammers21 commented on #162
I guess the current API should be extended with the ability to access all the returned `ResultSet`s. @pmlopes, what do you think?

[2019-07-29 11:20] VoxT opened #164 "queryWithParams can not use all connection in the pool"
### Version

* vert.x core: `3.7.1`
* vert.x jdbc-client: `3.7.1`
* jdbc driver: `6.0.6`
* RDBMS: `mysql server`

### General info

* What is your jdbc driver: `mysql-connector-java`
* What is your RDBMS server: `mysql`
* What is your connection string (no user/passwords please!): j`dbc:mysql://127.0.0.1:3306/db _dev?autoReconnect=true&useLegacyDatetimeCode=false&serverTimezone=UTC`

### Context

[2019-08-01 04:44] kostya05983 opened #165 "Deadlock unhandled exception"
### Version

* vert.x core: 3.7.0
* vert.x jdbc-client: 3.7.0
* jdbc driver: mysql-connector-java  5.1.38
* RDBMS: mysql innodb

### General info

* What is your jdbc driver
* What is your RDBMS server
mysql innodb 5.6
* What is your connection string (no user/passwords please!)
jdbc:mysql://10.25.96.65/radius?useUnicode=true&characterEncoding=utf8&relaxAutoCommit=true&connectTimeout=5000&autoReco

[2019-08-01 06:58] tsegismont commented on #165
Looking at the cause:

[code]

It seems your query needs to acquire a database lock and sometimes cannot do it in a timely manner. This may happen for example if you another transaction holds the database lock for a long time.

Reach out to MySQL user groups if you need help for troubleshooting this kind of issue.

[2019-08-04 08:28] kostya05983 commented on #165
Hello, @tsegismont thank you for response, but can a vertx-jdbc-driver handle such exception? Or is it impossible? I just want to catch it onError, but I can't :(
something like this:
`
mysql.rxUpdateWithParams("My_statement", JsonArray().add).subscribe({

}, {
//I want an exception there
})
`
 If it's impossible to handle from vert.x driver, you may close issue.
`2019-07-05T15:09:31,635 [vert.x-e

[2019-08-05 08:42] tsegismont commented on #165
@kostya05983 the top lines of the stack trace show this

[code]

It seems `SingleOnSubscribeAdapter` does invoke the subscriber `onError` method. But `OnErrorNotImplementedException` indicates the subscription was created with:

[code]

Which internally does:

[code]

Can you double check that an error handler is defined at subscription time? Thank you.

[2019-08-16 09:21] ChristophGr opened #169 "JDBCQuery-execution triggers blocked thread checker"
### Version

* vert.x core: 3.8.0
* vert.x jdbc-client: 3.8.0
* jdbc driver: oracle 12.1.0.2
* RDBMS: Oracle SE 12.1.0.2

### General info

* What is your jdbc driver
Oracle 12c release 1 (12.1.0.2)
* What is your RDBMS server
Oracle SE 12.1.0.2
* What is your connection string (no user/passwords please!)
jdbc:oracle:thin:@//localhost:1521/ORCLPDB1

### Context

[code]

### Steps to reproduce

1.

[2019-08-19 10:34] shenzhenMirren opened #170 "The Date String has been converted to the type of 'Date', this causes the execution of SQL statements to fail."
### Version

* vert.x core:from now 3.7.1 to 4.0.0-milestone1
* vert.x jdbc-client:from now 3.7.1 to 4.0.0-milestone1
* jdbc driver: mysql
* RDBMS:mysql

### Context
in the package io.vertx.ext.jdbc.impl.actions.JDBCStatementHelper;
function name fillStatement
line 119 ---
![1](https://user-images.githubusercontent.com/24805209/63259011-e5ae9500-c2af-11e9-93f7-fa04fca40fa2.png)
![2](https://user-i

[2019-08-19 10:35] shenzhenMirren commented on #170
![图片](https://user-images.githubusercontent.com/24805209/63259116-1d1d4180-c2b0-11e9-930c-fefc4b4b9bbe.png)

[2019-08-20 13:19] #157 closed

[2019-09-18 10:24] pmlopes opened #171 "implement the vertx-sql-client API"
vertx-sql-client API is the new API for the reactive drivers, it is also possible to wrap an existing JDBC driver on this mode. This issue is about implementing it.

[2019-09-18 10:25] pmlopes commented on #171
This issue depends on the discussion happening here: https://github.com/eclipse-vertx/vertx-sql-client/issues/421

[2019-10-03 22:59] fuelyourdev opened #172 "String with date treated as date and transforms the string"
### Version

* vert.x core: 3.8.1
* vert.x jdbc-client: 3.8.1
* jdbc driver: 9.4-1201-jdbc41
* RDBMS: 11.5

### General info

* What is your jdbc driver
org.postgresql.Driver

* What is your RDBMS server
PostgreSQL

* What is your connection string (no user/passwords please!)
jdbc:postgresql://localhost:5432/postgres

### Context

I encountered an exception which looks suspicious while ...

Under

[2019-10-03 23:02] fuelyourdev commented on #172
For example, "2018-02-13" gets changed to  "2018-02-13 -07:00:00" and "2018-11-15T16:45:32Z" gets changed to "2018-11-15 09:45:32.000000 -07:00:00"

[2019-10-17 05:54] tunovic commented on #48
Is there no better way to have the stored procedure support with Oracle Driver? It took me quite some to find this out resulting in #135

[2019-10-17 05:56] tunovic commented on #135
Any idea when this issue will be resolved? Using Vert.x 3.8.1 with Hikari and Oracle driver.

[2019-10-17 08:19] vietj commented on #48
we can test with oracle using Docker.

can you provide a PR with a test for this, and then we will use Docker to run it

[2019-10-17 08:22] vietj opened #173 "Create a test for #135"
We need a test for testing https://github.com/vert-x3/vertx-jdbc-client/issues/135 using Docker.

[2019-10-17 08:23] #135 closed

[2019-10-31 05:30] Lorwell opened #174 "Save the problem of byte[]"
### Version

* vert.x core:  3.8.1
* vert.x jdbc-client: 3.8.1
* jdbc driver: com.mysql.cj.jdbc.Driver
* RDBMS: mysql

### General info
Vertx uses a JsonArray object when saving data, and the byte[] array is encoded as a Base64 string.
The result of the query will be converted to a string in byte[] that is saved to JsonObject and encoded as Base64.
Base64 decoding was performed when getting with g

[2019-10-31 18:33] f95johansson commented on #172
Yes this is super limiting, and creates all sort of hard to solve problems for my team. It really comes down to the optimistic cast for temporal types, where any string that fits a time, date or timestamp pattern is automatically converted, with no option to turn off the conversion (code is in JDBCStatementHelper.java). It really should be like the optimistic cast for uuid, where it's optional (ca

[2019-11-02 01:55] #174 closed

[2019-11-22 17:30] pendula95 opened #175 "On Postgres Instance Restart Fatal Error"
### Version

* vert.x core: 3.8.1
* vert.x jdbc-client: 3.8.1
* jdbc driver: postgres
* RDBMS:

### General info

* What is your jdbc driver
* What is your RDBMS server
* What is your connection string (no user/passwords please!)
`JsonObject dbSettings = new JsonObject()
                .put("url", "jdbc:postgresql://" + System.getProperty("db.host") + ":5432/" + System.getProperty("db.database")

[2019-11-24 01:35] jgutierreznab commented on #113
This is currently happening under vertx-mysql-postgresql-client in 3.8

[2019-12-14 07:22] akiyamayami opened #176 "Convert Clob/Blob to String very slow"
### Version

* vert.x core: 3.6.3
* vert.x jdbc-client: 3.6.3
* jdbc driver: oracle.jdbc.pool.OracleDataSource
* RDBMS: Oracle Database 12.2.0.1

### General info

* What is your jdbc driver oracle.jdbc.pool.OracleDataSource
* What is your RDBMS server Oracle Database 12.2.0.1
* What is your connection string (no user/passwords please!) jdbc:oracle:thin:@//${host}:${port}/${service}

### Context

[2019-12-17 09:15] pmlopes commented on #129
With vert.x 4.0.0 OSGi metadata will not be included anymore with the distributed jars.

[2019-12-17 09:15] #129 closed

[2019-12-30 14:31] SHiL0NG opened #177 "SQLConnection batchWithParameters took parameters from the previous"
### Version

* vert.x core: 3.6.3
* vert.x jdbc-client: 3.6.3
* jdbc driver: org.h2.Driver
* RDBMS: H2

### General info

* What is your jdbc driver: org.h2.Driver
* What is your RDBMS server: localhost
* What is your connection string (no user/passwords please!): `jdbc:h2:mem:test_categories;TRACE_LEVEL_FILE=2;DATABASE_TO_UPPER=FALSE;`

### Context

In my unit test class, I created a helper metho

[2020-01-28 21:25] jonathon-eastman opened #179 "rxQuery breaks between 4.0.0-milestone3 and 4.0.0-milestone4."
### Version

4.0.0-milestone4

### Context

I have a simple RxJava2 query that I have been using for awhile.  I updated to the latest maven release (4.0.0-milestone4) and I now get this error stacktrace.

jdbc driver: oracle.jdbc.OracleDriver
jdbc url: jdbc:oracle:thin:@<MYHOST>:1521:<MYDB>
oracle jdbc jar: ojdbc8
oracle jdbc version: 19.3.0.0

	at io.reactivex.plugins.RxJavaPlugins.onError(RxJava

[2020-01-28 23:02] vietj commented on #179
thanks for the feedback @jonathon-eastman for the reproducer it will help for sure

[2020-01-31 15:40] tsegismont commented on #179
At the bottom of the stacktrace there is:

[code]

It seems that the JSON object contains a Java `Number` that was not supported in `milestone4`.
I couldn't say what it is, as the reproducer project misses the database table description.
But in Vert.x Core master branch, a few types have been added recently: `Byte`, `BigDecimal` and `BigInteger`.

Can you try your project with a Vert.x core master

[2020-01-31 15:40] tsegismont commented on #179
In other words, I don't believe this is a regression in the JDBC Client or the Rxified API.

[2020-02-05 09:47] tsegismont commented on #179
@jonathon-eastman please try a master build and reopen if you still have issues. Thanks

[2020-02-05 09:47] #179 closed

[2020-03-27 10:59] mgaidamak opened #182 "Support setMetricsTrackerFactory of HikariConfig"
Is there any reasons to not support HikariConfig.setMetricsTrackerFactory at this block of HikariCPDataSourceProvider?
[code]
Can I submit a pool request?
Thanks

[2020-03-27 11:18] vietj commented on #182
you can

[2020-06-02 11:47] vietj opened #185 "Merge SQL common module"
The Vert.x 3 SQL common module is merged into the JDBC client in Vert.x 4 for practical reasons.

[2020-06-04 18:54] #185 closed

[2020-06-10 07:24] vietj opened #187 "Implement SQL client backend protocol"
The SQL Client has a backend protocol that used to implement the client using a command/response object protocol relieving that is used by the API implementation.

The work has been started in this branch https://github.com/vert-x3/vertx-jdbc-client/tree/sql-client-api

[2020-06-10 07:24] vietj opened #188 "SQL client documentation"
SQL client documentation for JDBC.

[2020-06-10 07:24] #171 closed

[2020-06-10 07:26] vietj commented on #171
replaced by https://github.com/vert-x3/vertx-jdbc-client/issues/187 and https://github.com/vert-x3/vertx-jdbc-client/issues/188

[2020-07-21 10:02] #188 closed

[2020-07-21 10:02] #187 closed

[2020-08-04 12:53] deeper-thought commented on #130
Just use reflection to get it.

Field field = sqlRowStream.getClass().getDeclaredField("metaData");
field.setAccessible(true);
ResultSetMetaData metaData = (ResultSetMetaData) field.get(sqlRowStream);

int cols = metaData.getColumnCount();
for (int i = 1; i <= cols; i++) {
    // metaData.getColumnTypeName(i)
}

[2020-08-26 19:16] pendula95 commented on #164
Bump here, I see same behaviour.
My pool in use is always 1 when using mySQLClient.queryWithParams and if I use SQLConnection.queryWithParams I get full pool used and better performance.
Vertx version: 3.9.2
Can this be confirmed?

[2020-08-28 07:53] vietj commented on #164
can you investigate @pmlopes ?

[2020-08-28 10:34] pendula95 commented on #164
Here is a small reproducer:

[code]

For some reason for client1 value of vertx.pool.inUse is always 0
For client 2 the values changes constantly.
Maybe this has something to do with metrics and not pools not used.

[2020-08-28 15:20] pendula95 commented on #164
I have changed the code so I can put more load on it and now the difference is obvious, when you not get connection explicitly you are not using the pool.
[code]
After running benchmarking this with bombardier (each method, 3 tries for 30s) I get following:
Bench1:
used pool size 1
Total requests served 52558
Bench2:
used pool size 20-30
Total requests server 1064291

So this is an issue with JDBC

[2020-09-03 01:57] jinwik commented on #164
when using jdbclient.queryXX，requests run in "vertx-jdbc-service-get-connection-thread" thread which is a single thread!
when using getConnection and con.queryXX, requets run in worker-threads(executeBlocking).

[2020-09-03 14:53] pendula95 commented on #164
This is because JDBCConnectionImpl will call method execute from AbstractJDBCAction which wraps it around executeBlocking [here](https://github.com/vert-x3/vertx-jdbc-client/blob/670670dbb48f4fe6159a49843ba4b8fcb1c60d92/src/main/java/io/vertx/ext/jdbc/impl/actions/AbstractJDBCAction.java#L66)
On the other had JDBCClientImpl will execute it from extensions of AbstractJDBCAction which is not wrapped

[2020-09-03 16:07] pmlopes commented on #164
@pendula95 please do!

[2020-09-04 11:12] pendula95 commented on #164
I have checkout 3.92 tag and applied changes to that head but looks like there are conflicts merging to master.

[2020-09-24 17:14] vietj opened #193 "SQL client API batch support"
This is currently not implemented.

[2020-09-24 17:14] vietj commented on #193
failing test https://github.com/vert-x3/vertx-jdbc-client/pull/192

[2020-09-28 13:25] vertxusr123 opened #194 "fetch size can not be set to a value less than 0, problematic for mysql streaming result sets"
Version
3.8.5

Context
The AbstractJDBCAction in the applyStatementOptions method has this clause :
if (options.getFetchSize() > 0) {
statement.setFetchSize(options.getFetchSize());
}

This is problematic for mysql for results sets which are too large to read into memory, my sql jdbc supports streaming result sets when the statement is foward_only, read_only, and fetch size is Integer.MIN_VALUE.

[2020-10-02 13:54] #193 closed

[2020-10-08 14:07] vietj commented on #194
can you provide a reproducer @vertxusr123 ?does it happen only for mysql ?

[2020-10-15 21:43] vertxusr123 commented on #194
I believe it is mysql specific, that said if there are other jdbc drivers out there that use a fetch size less than zero, they would suffer the same issue.

I don't have a reproducer handy, but will see if I can find some time to create one, to be clear that reproducer would strictly exercise the code to the point indicated in the description so it could be seen that the fetch size is not passed t

[2020-10-16 12:54] wkerckho opened #195 "ClassCastException while parsing Array value"
Stacktrace:
[code]

### Version

4.0.0.Beta3

### Context

I use the Vertx JDBC Client for communicating with a [Clickhouse](https://clickhouse.tech/) database (using the official [JDBC driver](https://github.com/ClickHouse/clickhouse-jdbc)). I have a table that contains a Float array column that is giving me issues.

[This line](https://github.com/vert-x3/vertx-jdbc-client/blob/7cc467a08da2ecfee3

[2020-10-16 13:10] wkerckho commented on #195
PS: Note that the Java documentation for `java.sql.Array` specifies that implementations can choose whether to use primitive array or Object array when returning such a value.

Source: https://docs.oracle.com/en/java/javase/14/docs/api/java.sql/java/sql/Array.html#getArray()

[2020-10-18 11:12] blindpirate opened #196 "4.0.0.Beta3: getConnectionAwait is deprecated but no replacement available"
### Version

4.0.0.Beta3

### Context

Originally https://github.com/eclipse-vertx/vertx-sql-client/issues/785

Javadoc says "use getConnection().await()", but there's no `getConnection()` in `SQLClient`.

[code]

https://github.com/vert-x3/vertx-jdbc-client/blob/master/src/main/java/io/vertx/ext/sql/SQLClient.java#L42

[2020-10-28 11:47] laiweiwei commented on #75
Why drop the `maxRows` option ?

[2020-10-28 12:19] laiweiwei commented on #75
https://github.com/spring-projects/spring-framework/blob/master/spring-jdbc/src/main/java/org/springframework/jdbc/core/JdbcTemplate.java#L242

[2020-12-10 09:40] #194 closed

[2020-12-18 15:37] wkerckho commented on #195
FYI: I have the same issue when using Vertx 4.0.0

[2020-12-25 08:22] ebadta81 opened #198 "4.0.0: I get the "The statement must be executed before any results can be obtained." message from the mssql 2012 server, when I call the vertx-jdbc-client preparedQuery method."
### Version

4.0.0

### Context

I get the "The statement must be executed before any results can be obtained." message from the mssql 2012 server, when I call the vertx-jdbc-client preparedQuery method. **It works with the 4.0.0 legacy api.**

### Steps to reproduce

[code]

And my relevant code:

[code]

The driver_class is "driver_class": "com.microsoft.sqlserver.jdbc.SQLServerDriver", and I us

[2021-01-04 09:08] vietj commented on #198
can you reopen this issue here https://github.com/vert-x3/vertx-jdbc-client ?

[2021-01-04 09:08] #198 closed

[2021-01-04 23:43] ebadta81 opened #199 "4.0.0: I get the "The statement must be executed before any results can be obtained." message from the mssql 2012 server, when I call the vertx-jdbc-client preparedQuery method."
### Version

4.0.0

### Context

I get the "The statement must be executed before any results can be obtained." message from the mssql 2012 server, when I call the vertx-jdbc-client preparedQuery method. **It works with the 4.0.0 legacy api.**

### Steps to reproduce

[code]

And my relevant code:

[code]

The driver_class is "driver_class": "com.microsoft.sqlserver.jdbc.SQLServerDriver", and I us

[2021-01-05 13:44] ebadta81 commented on #199
The vertx-auth-sql-client 4.0.0 also use the new api, and have this error message inside the library.

In this way I cannot use vertx-auth-sql-client. This is a bigger problem...

[2021-01-05 16:01] vietj commented on #199
assigned to you @pmlopes

[2021-01-05 22:48] DaveO-Home opened #200 "NullPointerException- JDBC-Client when using preparedQuery with Cubrid"
### Version

both 4.0.0 and 4.0.1-SNAPSHOT

### Context

Fails with both non and transaction prepared quires, works with queries without parametes
### Do you have a reproducer?
No

### Error
[code]

### Extra
code @ https://github.com/DaveO-Home/dodex-vertx/blob/master/src/main/java/dmo/fs/db/DbDefinitionBase.java
line: 386

* Fedora33 - JVM 1.8 and Java11
* Query -
[code]

[2021-01-07 12:27] pmlopes commented on #199
@ebadta81 I don't have access to a sqlserver instance, can you let me know if it is possible to run it from a public docker container? can you share the instructions and a simple app showing the bug?

[2021-01-07 13:38] vietj commented on #199
you can look at the Vert.x SQL Client that has testcontainer support for MS
SQL

On Thu, Jan 7, 2021 at 1:27 PM Paulo Lopes <notifications@github.com> wrote:

[2021-01-08 10:51] ebadta81 commented on #199
You only need to call preparedQuery with parameters. Unfortunately I don't have access to public mssql server. Does the testcontainer work for you?

[2021-01-14 14:43] ebadta81 commented on #199
Hello,

I tested it with 4.0.1-SNAPSHOT, and I still get the "The statement must be executed before any results can be obtained." message when I use the vertx-auth-sql-client library.

My relevant code:

[code]

[code]

[2021-01-15 16:02] #199 closed

[2021-01-15 16:04] pmlopes opened #202 "thread checking tests are failing"
Tests need to be reviewed as they are failing with connection pool threads are not being marked properly closed at end in some circumstances.

[2021-01-19 18:56] mwm-twx opened #203 "4.0.0: JDBC connections sharing task-queue, leading to client-side deadlock"
### Version

4.0.0

### Context

Application code which worked without issue on 3.9.x leads to a (non-database) deadlock on 4.0.0.

This is the scenario:

1. Concurrent requests to the application which execute a number of database statements within transactions.
2. The first request starts a transaction and adds an entry to table1
3. Second request starts a transaction and attempts to add an entr

[2021-01-20 11:27] vietj commented on #195
let's try fix that for 4.0.1 and then backport

[2021-01-20 16:05] vietj opened #204 "SQL value conversion should not assume java.sql.Array.getArray() returns instance of Object[]"
The SQL value conversion helper assume that `java.sql.Array.getArray()` always returns an instance of `Object[]` which can lead to class casts in some cases (https://github.com/vert-x3/vertx-jdbc-client/issues/195).

Instead it should use reflection with `java.lang.reflect.Array` to access the array elements.

[2021-01-21 09:35] ProgMaq opened #207 "Cursors (or streams) produces an infinite loop"
### Version

4.0.1-SNAPSHOT

### Context

When using the cursors or stream an infinite loop is produced, stream.exceptionHandler or stream.endHandler will never be called. hasMore always indicates true.

### Do you have a reproducer?

[code]

### Steps to reproduce

1. Add valid credentials
2. Create a basic POM with mssql driver and vertx-jdbc-client dependencies
3. Run

### Extra

- MacOS 11.1
-

[2021-01-28 10:28] #204 closed

[2021-02-02 11:18] vietj commented on #207
we will fix this issue by loading everything in memory for 4.0.1 and reimplement it properly for a later version

[2021-02-02 11:26] vietj opened #208 "Use JDBC cursors for SQL client streaming"
The implementation of the SQL client streaming with JDBC will load the entire results set in memory. Here is a short description on how to proceed for the implementation:

`JDBCPreparedQuery` has an optional `cursorId` and `fetch` values indicating whether the query should or not use a cursor to execute the query

We likely need a `Map<String, JDBCPreparedQuery<?, ?>>` that keeps the prepared quer

[2021-02-02 12:45] vietj commented on #207
@ProgMaq we will do a quick fix for 4.0.1 based on your suggestion and after we will implement a better solution (https://github.com/vert-x3/vertx-jdbc-client/issues/208)

btw cool usage of withTransaction and Future.future in the test

[2021-02-02 12:46] #207 closed

[2021-02-05 01:34] Gattag commented on #203
From my understanding, the usage of `TaskQueue` was placed behind `DuplicatedContext`, now when you call `ContextInternal::duplicate` a new `DuplicatedContext` is returned with its own `TaskQueue` for blocking tasks, but it is otherwise near identical to the parent `Context`. I think the problem may lie in the fact that I do not see the `DuplicatedContext` per connection being created anywhere, th

[2021-02-05 07:34] vietj commented on #203
Can you provide a reproducer ?

On Fri, Feb 5, 2021 at 2:34 AM Gattag <notifications@github.com> wrote:

[2021-02-05 12:34] ebadta81 opened #209 "4.0.1: I get the "The statement must be executed before any results can be obtained." message from the mssql 2012 server, when I call complex INSERT query."
### Version

4.0.1

### Context

[My previous bug report](https://github.com/vert-x3/vertx-jdbc-client/issues/199) has been fixed, but now I get again this error message, when I try to execute a complex INSERT statement on an MSSQL server.

### Do you have a reproducer?

The sql statement that caused the error:

[code]

[2021-02-05 14:22] pmlopes commented on #209
@ebadta81 could you help preparing a test for this?

[2021-02-05 14:26] ebadta81 commented on #209
Sure. What do you need? Complete sql with tables and data?

[2021-02-05 21:39] pmlopes commented on #209
Yes, we already have a test containers setting up sqlserver, so that would speed up the troubleshooting: +1:

[2021-02-06 05:04] ebadta81 commented on #209
Okay, I tested with vertx-jdbc-client test container, and the error didn't occur.

Then I tested with my server, and the error came up.

I used the same tables, query, parameters, and changed the mssql driver version to 8.4.1.jre11 (this is what I use in my project).

The only difference is the mssql server version and configuration.

Unfortunately Microsoft do not offer mssql version 12 docker im

[2021-02-06 11:00] ebadta81 commented on #209
It turned out, there was a difference between my tests at the sql table level.

I have two triggers, that caused the error. I had to insert SET NOCOUNT ON to these triggers, and the error disappeared.

Thank You for your time pmlopes!

[2021-02-06 11:00] #209 closed

[2021-02-16 01:59] YheCoder commented on #20
Has this proposal ever been addressed? I ran into this issue and would be great if there is a way to get the date as string as is without converting it to utc.

https://github.com/vert-x3/wiki/wiki/Update-JSON-API

[2021-02-19 13:20] riemenschneider opened #210 "JDBCPreparedQuery fails to handle parameters of type Buffer"
### Version

4.0.2

### Context

I used the new SQL client API for creating a pool together with prepared statements. Unfortunately tis breaks as soon as I start using Buffer parameters.
When using the following code:
[code]
an exception is thrown addressing an invalid position argument 0.
This is caused by https://github.com/vert-x3/vertx-jdbc-client/blob/cae45dafab9121ed527d23227c895415b977656f/

[2021-02-19 18:05] vietj commented on #210
assigned to you @pmlopes

[2021-02-22 07:45] ukr15 opened #211 "prepared query in conjunction with stream doesn't work for Oracle"
Questions
Do not use this issue tracker to ask questions, instead use one of these channels. Questions will likely be closed without notice.

Version
4.0.2

Context
We tried to migrate our services from Legacy JDBC Client or SqlClient. For Postgres dbms everything works fine as expected, but with Oracle the following exception is signaled:
stream error java.sql.SQLException: Nicht unterstützte Fun

[2021-02-23 08:48] #173 closed

[2021-02-24 16:07] tsegismont commented on #164
Closed in #213

[2021-02-24 16:07] #164 closed

[2021-02-25 11:04] rainmanhhh opened #215 "NullPointerException with db2 prepared sql"
### Questions
code is like
[code]
and it reports NPE
[code]
same sql works fine with mysql

### Version

4.0.2

### Context

### Do you have a reproducer?

### Steps to reproduce

### Extra
sugguest to add null check for generatedKeys metaData (JDBCQueryAction line 182~183) because some jdbc drivers return generatedKeys even if it's not a insert statement(but metaData of the resultSet is null)

[2021-03-09 10:35] tsegismont commented on #202
Closes in #214

[2021-03-09 10:35] #202 closed

[2021-03-09 17:10] tsegismont commented on #210
Fixed in #212

[2021-03-09 17:10] #210 closed

[2021-03-13 06:31] pskarthic opened #216 "Vertx executeBatch not returning all rows"
I am using vertx JDBC client pool and trying to insert multiple records to table. The insertion is done successfully but the inserted records are not returned instead only first record is returned.

Version - 3.9.4

**Code to insert multiple record using executeBatch**
List<Tuple> batch = new ArrayList<>();
batch.add(Tuple.of(36,"st","st"));
batch.add(Tuple.of(36,"st1","st1"));

pool.preparedQuery

[2021-03-17 16:36] Falx commented on #195
Hi, any reason why this fix didn't make the 4.0.1, 4.0.2 and now 4.0.3 release? We could really use this fix..

[2021-03-18 09:28] pmlopes commented on #195
@Falx can you double check please? The commit claiming to fix it: https://github.com/vert-x3/vertx-jdbc-client/commit/1f66409cf7feceeb5e67f18147aa980be878a66f was merged.

[2021-03-18 09:35] anguisa opened #217 "JDBC queries on different connections run sequentially"
### Version

4.0.x

### Context

1. JDBCPool with size == 20 is created.
2. Multiple concurrent queries are executed.
3. The problem is that all queries are executed sequentially.
If I use JDBCPool.getConnection() then I get multiple connections immediately, but queries on different connections are executed one after other.
If I use JDBCPool.query().execute() then it looks like batch execution.

I

[2021-03-18 11:42] wkerckho commented on #195
Hi Paulo,

I've updated the [reproducer project](https://github.com/wkerckho/vertx-jdbc-issue) to Vert.x 4.0.3, but I still get a ClassCastException:

[code]

[2021-03-22 07:43] Falx commented on #195
I see it is merged in, but the bug still remains, as you can see with the updated reproducer projectof @wkerckho

[2021-03-22 13:24] anguisa commented on #217
The same problem is with JDBCCLient.
Reproducer is based on your tests (https://github.com/vert-x3/vertx-jdbc-client/blob/master/src/test/java/io/vertx/it/MSSQLTest.java and er/src/test/java/io/vertx/ext/jdbc/JDBCClientTest.java).

[code]

In 3.9.x there was no problem.
In 3.9.x

[2021-03-23 05:00] anguisa commented on #217
I opened pull request https://github.com/vert-x3/vertx-jdbc-client/pull/219
It looks like it solves problem.

[2021-03-23 10:24] vietj commented on #217
we need to see how this can be solved. are you experiencing this in a web application ?

[2021-03-23 10:55] anguisa commented on #217
We try to migrate from 3.9 to 4.0. And after upgrade sql tests failed.
In our applications we have periodic database check: query "SELECT 1" runs each X seconds. If it fails, SqlClient is recreated. And in tests with multiple sql queries this check sometimes fails.
Also we have tests to check multiple queries running. My example in this issue is similar. In 3.9 if we have pool of 30 connections, 3

[2021-03-23 14:35] pmlopes commented on #217
@anguisa could you add the test case used to reproduce the issue to the unit test suite?

[2021-03-24 06:54] anguisa commented on #217
I added tests to https://github.com/vert-x3/vertx-jdbc-client/pull/219

[2021-04-02 03:18] Trumeet opened #220 "java.lang.UnsupportedOperationException when mapping enum"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

Which version(s) did you encounter this bug ?

4.0.3

### Context

I encountered an exception which looks suspicious while I tried to use the JDBC client with SqlTemplate and Row Mapper to map enum types from

[2021-04-16 10:00] riemenschneider opened #221 "[Array|String]IndexOutOfBoundsException when executing prepared queries in parallel using JDBCPool together with MariaDB Java Client"
### Version

4.0.3

### Context

I am using Vert.x 4.0.3 Sql Client API for accessing a MySQL database (tested with 8.0.16, 5.7.26 and 5.6.50) via the MariaDB Java Client (2.7.2). When executing prepared queries in parallel I am encountering [Array|String]IndexOutOfBoundsExceptions that are thrown when Vert.x ``JDBCClient`` reads the column labels using the ``ResultSetMetaData`` object returned by

[2021-04-19 06:54] riemenschneider commented on #221
I have added two more tests. One for the legacy JDBC Client API and one for the new Sql Client API in manual connection mode. From my point of view the new Sql Client API fails in managed as well as manual connection mode when executing prepared queries in parallel. The legacy JDBC Client API (as well as using connection pooling provided by MariaDB Java Client and C3P0 on top of MariaDB Java Clien

[2021-04-19 07:11] riemenschneider commented on #221
I have instrumented some classes of the MariaDB Java Client in order to show additional debug output and it looks like the same Buffer is used by multiple tests executions running in parallel.
[code]

[2021-04-21 07:11] riemenschneider commented on #221
Looks like https://github.com/vert-x3/vertx-jdbc-client/pull/218 adds configuration support for disabling automatic key generation. This can be used as a **workaround** for this issue (at least in our scenario) since the exceptions only occur when creating a prepared query using the ``Statement.RETURN_GENERATED_KEYS`` option and processing the generated keys afterwards.

[2021-04-21 14:08] riemenschneider commented on #221
I was finally able to track that issue down to an issue in MariaDB Connector/J (see https://jira.mariadb.org/browse/CONJ-873). Therefore this issue can be closed. The only remaining question is if there is already a release date for Vert.x 4.1.0 which would give us a workaround for the issue in MariaDB Connector/J.

[2021-04-22 07:55] vietj commented on #221
we expect a first beta of 4.1 early May and a final release in June.

[2021-04-22 07:56] vietj commented on #221
yes this looks like a concurrent utilisation

[2021-04-23 18:42] yazalulloa opened #222 "SQLException: Unsupported feature: getMetaData with the new vertx-jdbc-client with Oracle DB 11g"
Vertx version: 4.0.3
Java 11
Running in Intellij
Windows 10

I'm using Oracle DB 11g

To connect to it I'm using:

 <dependency>
            <groupId>com.oracle.database.jdbc</groupId>
            <artifactId>ojdbc11-production</artifactId>
            <version>21.1.0.0</version>
            <type>pom</type>
        </dependency>

I tried the ojdbc8-production and still gave me the same error

Exe

[2021-05-07 07:31] #217 closed

[2021-05-12 12:18] Fyro-Ing commented on #222
there is a workaround, SQLOptions#"autoGeneratedKeys": false

[2021-05-12 12:48] d53dave commented on #222
Yes, but that only works on `SQLConnection` objects, not the pool.

Would be cool not to have to manually manage the connections just because of one bug in the driver one one DB vendor.

[2021-05-12 14:18] d53dave commented on #222
Additionally, `SQLOptions#autoGeneratedKeys` is not available on the new APIs

[2021-05-12 14:51] pmlopes commented on #222
@d53dave can you give a try with the `4.1.0.Beta1` artifacts. Some work has been done to workaround the limitations of `getMetaData()` but this is not trivial to test and work as we can't quickly setup a docker container with a OracleDB to perform CI.

If you could help in preparing such an environment we could better test it.

[2021-05-12 18:45] Fyro-Ing commented on #222
@pmlopes i've try with 4.1.0.Beta1, and it's not ok

i use JDBCPool#pool(Vertx vertx, JsonObject config)
https://github.com/vert-x3/vertx-jdbc-client/blob/d7f1484e09a5105e4f7a0b1037f7622a184a4188/src/main/java/io/vertx/jdbcclient/JDBCPool.java#L75

with workaround, it's ok but, my company use a very old ojdbc library. i'll try a more recent

[2021-05-13 12:23] Fyro-Ing commented on #222
https://github.com/Fyro-Ing/vertx-jdbc-client/commit/ae7a8fb1ee0d92e0d58a7aca12ca0d069637b67f

use case on oracle (this reproduce the bug)

i'll try to see a fix

[2021-05-13 13:41] Fyro-Ing commented on #222
is https://github.com/Fyro-Ing/vertx-jdbc-client/commit/92b613625baf0da0632fd47ca48a694faf0e2cc9 could be a fix ?

[2021-05-17 09:25] ebadta81 opened #223 "4.0.3: java.sql.BatchUpdateException: A result set was generated for update."
### Version

4.0.3

### Context

I connected to mssql 12.0.6433.1 server, and running executeBatch when I got the *java.sql.BatchUpdateException: A result set was generated for update.*  error message.

### Do you have a reproducer?

[code]

db is a JDBCPool

### Extra

$ java --version
openjdk 11.0.10 2021-01-19
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.10+9)
OpenJDK 64-Bit Server VM A

[2021-05-18 06:36] ebadta81 commented on #223
Without "set nocount on", I get the *The statement must be executed before any results can be obtained.* error message.

It seems like [this bug](https://github.com/vert-x3/vertx-jdbc-client/issues/199), but with executeBatch.

[2021-05-19 07:42] ebadta81 commented on #223
It works, with the legacy api

[2021-06-03 09:32] vietj commented on #200
@DaveO-Home can you try again with 4.1.0 ?

[2021-06-07 14:40] DaveO-Home commented on #200
@vietj The null pointer exception appears to be fixed, but now obtained generated key has a problem - using
`rows.property(JDBCPool.GENERATED_KEYS).getLong(0)`
with java8, cubrid v11, cubrid jdbc 11.0.0.0248
also tried just -  `row.getLong(0)` - can't fully test without the generated key.

[2021-06-15 10:20] pmlopes commented on #215
Null check was introduced in 4.1.0

[2021-06-15 10:20] #215 closed

[2021-06-15 10:22] #222 closed

[2021-06-15 10:22] pmlopes commented on #211
Duplicate of #222 222

[2021-06-15 10:22] #211 closed

[2021-06-15 10:26] #169 closed

[2021-06-15 10:32] pmlopes commented on #169
The new sql-client api that replaced the deprecated one, does handle without issues blocking queries.

[2021-06-15 14:21] #176 closed

[2021-06-15 14:24] pmlopes commented on #195
The test:

[code]

Is the same as the reproducer and it seems to show that there's no error anymore. Will close the issue.

[2021-06-15 14:24] #195 closed

[2021-06-16 09:00] sarcobe commented on #195
I've updated the reproducer to use Vertx 4.1.0 and the issue persists. In which version of Vertx will the fix be included?

[2021-06-16 12:23] pmlopes commented on #195
@sarcobe I see. The difference here is that my test is using the 4.x API, while the reproducer is still using the old 3.x API. The 3.x cast code is not working correctly.

I've backported the fixes to the old API too.

[2021-06-16 13:01] pmlopes commented on #223
@ebadta81 I've been trying to understand how this should work in mssql but I don't really understand the desired behavior here.

So lets say we have a generic jdbc connection, what is happening behind the scenes is:

[code]

What I find strange is that the executed batch returns an empty array, while it should fail imho as I don't know the table structure of `test` table.

[2021-07-01 00:21] peixinz opened #225 "4.0.3: RowSet.columnDescriptors() not implemented"
#### Read me

Read this first before creating an issue:

- do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.
- you shall create a feature request only when it is general purpose enough.
- make sure that the feature is not already

#### Describe the feature

When using Vert.x JDBC client,

[2021-07-02 05:41] riemenschneider opened #226 "JDBCPool.query(...).execute() does not return the connection to the pool if the query is failing"
### Version

4.2.0

### Context

I encountered an issue with respect to connection pooling when queries are failing. It looks like the connection is not returned to the connection pool in this case. As a result the pool might run out of connections when we have multiple failing queries.
The issue occurs when we are using the `query(...)` and `preparedQuery(...)` methods of `JDBCPool`:
[code]
When

[2021-07-02 08:26] riemenschneider commented on #226
I have created pull request #227 which should fix this issue. Unfortunately some tests are failing with the following error
[code]
which is (to the best of my knowledge) not connected to my fix.

[2021-07-02 08:43] klas3000 opened #228 "restore support for creating (new) SqlClient from existing DataSource"
### Version

4.1.1

### Context

Pls restore the functionality to: create an SqlClient from an existing DataSource (so that I can use the oracle ucp pool).

Previously (old sql api)
[code]

but, it doesn't seem to exist in the new `io.vertx.jdbcclient`, `io.vertx.sqlclient` pkgs

pls, restore this feature so that I can stay modern.

### See also
https://groups.google.com/g/vertx/c/9soZ5G2kpRM

[2021-07-06 08:51] #226 closed

[2021-07-21 15:38] zero88 opened #230 "Create JDBCPool by DataSourceProvider"
#### Describe the feature

Need another creator method for creating `JDBCPool` to avoid fully configuration `DataSource` by json and also reuse 2 providers from `C3P0` and `Hikari`

`static JDBCPool pool(Vertx vertx, DataSourceProvider provider)`

Beside 2 current methods

https://github.com/vert-x3/vertx-jdbc-client/blob/b21ce854bb7ce56af339e6d1e38e285a5d0d7190/src/main/java/io/vertx/jdbcclient/J

[2021-07-21 19:34] haakonn opened #231 "LocalDateTime is read back incorrectly outside UTC"
### Version

4.2.0-SNAPSHOT (commit 251c5bd169506c89296beed57174792dc65f81db)

### Context

I have a TIMESTAMP column in h2. When I write a LocalDateTime, it is read back adjusted for UTC, which is not what I expect. I am in UTC-2 (CET). If I write `2021-07-21T19:16:33`, it comes back as `2021-07-21T17:16:33`. If I had been in UTC-4, it would have come back as `2021-07-21T15:16:33`. When querying

[2021-07-21 20:26] haakonn opened #232 "TIMESTAMP WITH TIME ZONE is not supported"
### Version

4.2.0-SNAPSHOT (commit 251c5bd)

### Context

I have an h2 database with a column of type `TIMESTAMP WITH TIME ZONE`. I expect this to map to `java.time.OffsetDateTime`. Instead, calling `Row.getOffsetDateTime` results in a ClassCastException: "class java.lang.String cannot be cast to class java.time.OffsetDateTime".

Inserting an `OffsetDateTime` works well and I can see that it's pe

[2021-07-22 09:31] tsegismont opened #233 "Document generated keys retrieval with the SQL Client API"
The SQL Client API allows to retrieve generated keys but the feature is not document yet:

https://github.com/vert-x3/vertx-jdbc-client/blob/42baa1fbf5e34b3422a2f95dc0b1b6e7fb7017a4/src/test/java/io/vertx/jdbcclient/JDBCPoolTest.java#L140

[2021-07-22 09:55] vietj commented on #230
please provide a contribution

[2021-07-23 09:25] zero88 commented on #232
Actually, `H2` introduce `TimestampWithTimeZone` java class to presents `TIMESTAMP WITH TIME ZONE` then Vertx cannot convert it from `JDBC` to `OffsetDateTime`. So my fix just keep data type from JDBC without fallback to `String`.
Developer must create `Collector` to mapping it by himself.

[2021-07-23 10:08] pmlopes commented on #230
@zero88 I think we can make this simpler by just using a default method as all the functionality to support data sources is already present but not public:

[code]

[2021-07-23 10:09] pmlopes commented on #230
Here `dataSource` is a `javax.sql.DataSource` object.

[2021-07-23 10:19] zero88 commented on #230
Ya, I see @pmlopes
But one issue is `DataSource` library will manage pool by itself, and not delegate to `Vertx`.
For example:
With `DataSource`
[code]

With `DataSourceProvider`
[code]

So, if put `DataSource` in vertx worker thread pool, it will be enhanced by `BlockedThreadChecker`, is it good rather than main thread?

[2021-07-23 10:56] pmlopes commented on #230
Good point!

[2021-07-27 04:41] zero88 commented on #230
@pmlopes It is related to https://github.com/vert-x3/vertx-jdbc-client/issues/228, then I can add it in PR also. How your thought?

[2021-07-30 17:33] jbaris opened #236 "Support for IN sql clause with PreparedStatement using setArray"
Using raw JDBC, you can do [this](https://stackoverflow.com/questions/3107044/preparedstatement-with-list-of-parameters-in-a-in-clause):
[code]
Using vertx-jdbc-client I want to do the same:
[code]
I see the method [JDBCPreparedQuery#fillStatement](https://github.com/vert-x3/vertx-jdbc-client/blob/0c85b039710ac90c8d29da333c3000a37bc19342/src/main/java/io/vertx/jdbcclient/impl/actions/JDBCPreparedQ

[2021-08-02 03:12] zero88 commented on #230
ping @pmlopes

[2021-08-02 08:02] vietj commented on #236
What is the database used in the example ?

[2021-08-02 11:18] jbaris commented on #236
Oracle. But, I think, should be the same for any JDBC compatible database that supports IN clause (like MySQL).
Thanks for reply!

[2021-08-02 13:43] vietj commented on #236
@pmlopes ?

[2021-08-06 12:47] riemenschneider commented on #221
I think we should close this issue since it is caused by concurrent usage of shared buffers in MariaDB Connector/J (see https://jira.mariadb.org/browse/CONJ-873) and we have a workaround (disabling automatic key generation) since Vert.x 4.1.0.

[2021-08-06 12:47] #221 closed

[2021-08-23 09:11] #230 closed

[2021-08-23 09:26] pmlopes opened #237 "Rewrite tests with test containers to avoid mixing embedded db threads and vertx threads and fail mostly on CI"
Current tests fail intermittently on CI due to locks from the embedded DBs to affect the vert.x functionality. We should rewrite the tests to use a different process for the db code, for example, using test containers.

[2021-08-23 11:45] #231 closed

[2021-08-23 11:45] #232 closed

[2021-08-23 12:12] zero88 commented on #170
This should be resolved in #235 @pmlopes

[2021-08-23 14:51] #170 closed

[2021-09-17 03:38] shenzhenMirren opened #238 "JDBCpool setting setIdleTimeout is not valid"
### Questions
This is the code that I created the JDBCpool
[code]

Hello! I set idle timeout to 1200 seconds in the JDBCpool of vert.x 4.1.3.
this setting is valid on Linux. It will recycle idle connections,
but it is invalid on windows. It will not recycle idle connections,
will report the following errors:

[code]

### Version
vert.x 4.1.3

### Extra
edition 	 Windows 10 professional
Version num

[2021-09-28 08:31] shenzhenMirren commented on #238
This problem also exists in CentOS, that is, the connection pool does not recycle free connection

[2021-09-28 15:26] vietj commented on #238
do you have a reproducer project ?

[2021-09-29 09:36] shenzhenMirren commented on #238
Sorry, this is my problem. I don't have idle time for connection

[2021-09-29 09:36] #238 closed

[2021-10-05 01:57] javadevmtl opened #239 "Ouput parameters not handled correctly for stored procedure."
Vertx 4.1.4 and Mm Sql Server 2016

Based on the convo here: https://mail.google.com/mail/u/0/?zx=ndqtji5gbmxf#inbox/FMfcgzGlkFpPFcrCCJdHdgCgFwLsjkdK

Procedure 1:

[code]

Procedure 2:
[code]

Stored procedures are executed with:
[code]

When the 1st stored procedure is executed the result of `System.out.println(rows.property(JDBCPool.OUTPUT));` is null.

For the second stored procdure when execu

[2021-10-05 02:57] javadevmtl opened #240 "New pooled client handles stores procedures differently then deprecated client."
Vertx 4.1.4 and Ms Sql 2016.

Based on convo here: https://groups.google.com/g/vertx/c/2iBAmU-xGNE

In the deprecated client we are able to use CallableStatment, it seems that in the new client everything is delegated to PreparedStatment.

On the deprecated client CallableStatement and PreparedStament results are treated differently. When using the new client with stored procedures we get `com.mic

[2021-10-05 08:50] pmlopes commented on #239
@javadevmtl I've added the examples above to the tests and fixed an interference that happens with the MSSQL JDBC driver when both an attempt to extract auto-generated keys and a procedure output are both in place.

The only way to get the driver to properly behave is to skip auto-generated key extraction if output parameters are registered.

[2021-10-05 08:50] #239 closed

[2021-10-05 17:32] javadevmtl commented on #239
Thanks how about the second part where toJson throws NullPpointerExceeption or is it part of the same issue?

[2021-10-05 19:38] pmlopes commented on #239
The null happens because in JDBC the callbable statement output have no metadata, so we cannot extract any label name for the synthetic row. We could however use its 1-based index as label

[2021-10-08 08:42] pmlopes commented on #200
NPEs have been fixed in master, I'll close this issue for now, if the issue still persists, please re-open and provide a simple test containers setup with cubrid where we can run regression tests.

[2021-10-08 08:42] #200 closed

[2021-10-15 14:37] DaveO-Home commented on #200
@pmlopes - Not sure how to grab the fix.  Do I have to build the jar?

[2021-10-20 16:40] tsegismont commented on #216
I just noticed the parameter placeholder is the dollar sign. So it seems you're using the [Vert.x Pg Client](https://vertx.io/docs/vertx-pg-client/java/), not the [Vert.x JDBC client](https://vertx.io/docs/vertx-jdbc-client/java/).

Can you confirm?

[2021-10-21 07:10] #225 closed

[2021-10-21 12:23] tsegismont commented on #216
@pskarthic I tried code similar to yours with PgClient:

[code]

Output is:

[code]

`size = 1` is expected because each item of the batch returns only one row. You have to inspect every `RowSet` returned by the client using `RowSet#next`.

[2021-10-21 12:23] tsegismont commented on #216
Closing as this is not the right repo and not a bug.

[2021-10-21 12:23] #216 closed

[2021-10-28 11:53] ruslansennov opened #244 "RowStreamWrapper: zero-day bug"
The SQLRowStream converted to the Flowable hangs out if the Flowable disposed.

[2021-10-29 14:04] #244 closed, assigned to nobody

[2021-10-31 13:11] glassfox opened #246 "ResultSet failed to load JsonObject with custom type"
### Version

4.2.0

### Context

1. The data loaded into ResultSet from MySql and contain custom type values ```LocalDate```.
In try to ```ResultSet.toJson()``` and then ```new ResultSet(JsonObject)``` got exception.

Following the exception:

[code]

[2021-11-02 12:48] klas3000 opened #248 "IllegalArgumentException: Type:-101 is not a valid Types.java value. when using TIMESTAMP WITH TIME ZONE"
### Version

4.2.0

### Context

using a column like this

[code]
I got this

[code]

### Steps to reproduce

### Extra

(but, works "without time zone")

same problem with
x64\jdk-11.0.1\bin\java.exe and x64\jdk-8u191\bin\java.exe

if I use "TIMESTAMP WITH TIME ZONE" with raw java.sql.PreparedStatement "it works"

[2021-11-03 07:56] klas3000 commented on #248
see also https://groups.google.com/g/vertx/c/4MuvIOjXLc0/m/GbPdwz8PAgAJ

[2021-11-03 14:21] tsegismont commented on #248
Can you share simplified SQL for creating/inserting data in the table? Thank you

[2021-11-05 14:51] Fyro-Ing opened #250 "[regression]JDBCClient with date on error"
When using JDBCClient (vs JdbcPool) directly occurred error with date on INSERT (probably UPDATE ?)

Using JdbcPool is ok

`io.vertx.serviceproxy.ServiceException: ORA-01843: ce n'est pas un mois valide`

When debugging, all call with JDBCTypeProvider.fromParameter(xx) return JDBCType.OTHER;
Throwing error :
[code]
This call is ok on SELECT

[code]

Suppose regression from https://github.com/vert-

[2021-11-07 15:09] Fyro-Ing commented on #250
Reproducer with oracle xe : https://github.com/Fyro-Ing/vertx-jdbc-client/commit/6cc0ef4148c6ed3355b46d5c17da3c6f66073676

[2021-11-11 14:30] rennyahernandez opened #251 "Thread Blocked using MySql Connector/J"
### Version

vertx-rxjava2 4.1.2
jvm 8
hikaricp 4.0.3
mysql-connector-java 8.0.16

### Context

I encountered a thread blocked warning when using mysql with ConnectorJ driver. The warning is:

[code]

### Do you have a reproducer?
[code]

[2021-11-12 08:42] tsegismont commented on #251
This is not a bug. It seems the JDBC driver `getConnection` method has blocked the worker thread for more than 16 hours.

It seems the driver is configured to use the MySQL HA feature. Perhaps there's a problem in the configuration?

[2021-11-12 08:42] #251 closed

[2021-11-12 19:39] rennyahernandez commented on #251
Hi @tsegismont. Thanks for your reply.

Is it expected for the client to block a thread in case of a misconfiguration? The config values are:

[code]

Thanks again for your help

[2021-11-15 08:56] tsegismont commented on #251
@rennyahernandez I don't know if it is related to the JDBC driver configuration. It was a suggestion for investigation.

My point is this is not an issue with the Vert.x JDBC Client, but rather the MS SQL JDBC driver that is stuck in `getConnection` method.

[2021-11-19 19:40] ruslansennov opened #253 "JDBCSQLRowStream hangs"
### Version

- vertx 3.9.x
- vertx 4.x

### Context

Sometimes `JDBCSQLRowStream` stops unexpectedly.

### Do you have a reproducer?

I cannot reproduce this bug with `AsyncResult` handlers, but it is fairly easy to reproduce with kotlin coroutines.

### Steps to reproduce

Reproducer and fix will be provided shortly

[2021-11-23 07:25] MYDIH opened #255 "[regression] JDBCSQLRowStream handles DateTimeOffset type incorrectly"
### Version

This bug is in the tree since 4.2.0, 4.1.6 seems ok

### Context

I just tried to update from 4.0.3 to 4.2.1, when streaming a table on a MSSQL server that has a column of type DateTimeOffset, I receive a

[code]

### Do you have a reproducer?

It's quite easy to reproduce, just add a DateTimeOffset column to a MSSQL table and try to stream it using both the legacy or the new  API

##

[2021-11-23 13:06] zero88 commented on #255
Hi, I'm the author of these changes.

Actually, this is my mistake. It should not static initialization like this
https://github.com/vert-x3/vertx-jdbc-client/blob/0baa0885573ef4b56ed425fa22ab506a12938d75/src/main/java/io/vertx/ext/jdbc/impl/actions/JDBCSQLRowStream.java#L163

It should be

[code]

[2021-11-23 13:10] zero88 commented on #255
Since `v4.2.0`, we provide `JDBCEncoder` and `JDBCDecoder` as SPI to allow developers can customize SQL data types based on the specific database and JDBC driver.

Please see this: https://github.com/vert-x3/vertx-jdbc-client/pull/235

In development time, I was only tested on H2/HSQL/PostgreSQL, so other databases might is not correct behavior. So, the developers can provide a patch for fixing th

[2021-11-23 13:11] zero88 commented on #250
Thank you for your test. I will try it on my side

Please check https://github.com/vert-x3/vertx-jdbc-client/issues/255#issuecomment-976510330

[2021-11-23 13:14] zero88 commented on #246
Could you provide a simplified example?

Anyway, I think you can provide an SPI for fixing the custom type in your application
Please check https://github.com/vert-x3/vertx-jdbc-client/issues/255#issuecomment-976510330

[2021-11-23 13:30] vietj commented on #255
can you provided a fix @zero88 ?

[2021-11-23 14:42] zero88 commented on #255
@vietj sure.
Actually, I think the document is out of date.
Need to update https://vertx.io/docs/vertx-jdbc-client/java/#_data_types based on

https://github.com/vert-x3/vertx-jdbc-client/blob/0baa0885573ef4b56ed425fa22ab506a12938d75/src/main/java/io/vertx/ext/jdbc/impl/actions/JDBCStatementHelper.java#L44-L46

[2021-11-24 09:03] glassfox commented on #246
Not sure if SPI will help in this situation.

[2021-11-25 10:35] #253 closed

[2021-11-26 08:34] zero88 commented on #250
`OracleJDBCDriver` is unsupported to get column metadata in a prepared statement/result set.
Then the datatype on the column is fallback to `JDBCType.OTHER`

I think you have to provide customization for `JDBCEncoder` and `JDBCDecoder` based on your data type

[2021-11-27 08:15] zero88 commented on #246
`JsonObject` cannot keep java datetime type, except `Instant`. But `JsonArray` can.

The safe way is using loop over ResultSet, then you can access exact data per column

[2021-11-29 17:23] Fyro-Ing commented on #250
As mentioned, using JdbcPool occured no errors. i've switched to this.

But, on 4.2.x, there is no mention to deprecated or removed usage

[2021-11-30 13:35] hungnt1997 opened #257 "Result Set for clob with non ASCII character"
### Version
This bug is in the tree since 4.2.1, 4.1.1 seems ok,
### Context
I just upgrade the JDBC version  from 4.1.1 to 4.2.1
I saw that JDBC 4.2.1 client has using getAsciiStream to read data from oracle with CLOB type, with is getting an error with NON-ASCII character.
### Do you have a reproducer?
1. Save non-ASCII to Oracle with UTF-8 encoding and CLOB type.
2. Get data from oracle with JD

[2021-12-02 19:24] #246 closed

[2021-12-02 19:24] #250 closed

[2021-12-02 19:24] #255 closed

[2021-12-03 08:34] zero88 commented on #250
yep, my mistake. I did not notify the maintainer, just left todo in code about updating the document.
As of last my patch, I have already included a document about that.

I also added your test (with some modification) in source
https://github.com/vert-x3/vertx-jdbc-client/blob/3518ab0dc553d8836d29a3ea2f88307aeb7d0130/src/test/java/io/vertx/it/OracleTest.java

I thought you are mentioning `vertx-o

[2021-12-30 10:08] klas3000 opened #259 "batch execution involving BLOB not working for oracle"
### Version

4.2.3

### Context

given table
[code]

I try to INSERT using "executeBatch"

[code]

### Steps to reproduce

for reference, plain, non-batch path: "always works".

but not "executeBatch".

first exception encountered:

[code]

seems to be an "off by one" error here
https://github.com/vert-x3/vertx-jdbc-client/blob/4.2.3/src/main/java/io/vertx/jdbcclient/impl/actions/JDBCPreparedBatch

[2022-02-07 07:48] ashertarno opened #263 "JDBCClient client returns postgres TIMESTAMP and TIMESTAMPTZ columns in wrong format"
### Version

4.2.4

### Context

In version 4,2,4 JDBCClient returns columns of the types in the subject as follows:
TIMESTAMP
[code]
TIMESTAMPTZ
A warning is logged
[code]
followed by response
[code]
This looks like a regression vs version 4.1.x and earlier where the values were returned as formatted strings.

### Do you have a reproducer?

### Steps to reproduce

1. Create the following table in

[2022-02-07 09:58] ashertarno commented on #263
@vietj it seems that adding jackson-datatype-jsr310 dependency to the project and adding
[code]
solves the issue.
i am not closing this yet, idk if this workaround is the way to go or this is a regression that should be handled internally in vertx. thanks.

[2022-02-23 11:00] klas3000 commented on #248
hmm...

I think this is still not working... just different exception...

[code]

result (vertx 4.2.5, oracle driver 21.4.0.0):
[code]

[2022-02-24 08:40] tarvfx opened #264 "Make agroal the new default pool implementation"
#### Describe the feature

Hi @vietj,
`c3p0` dependency is not required. Its development has stalled.  I think it can be `optional`.
![image](https://user-images.githubusercontent.com/70388114/155488748-0989ec64-df3a-403a-9611-dedc0e2d404b.png)

Give the simplest and best explanation.

#### Use cases

A list of use cases this feature will enable and the value it creates.

#### Contribution

Who sh

[2022-03-03 16:11] #248 closed

[2022-03-03 16:19] tsegismont commented on #248
@klas3000 I've looked into this and, in fact, this PR has been superseded by #256 (also in 4.2.2).

So what you have to do is creating a custom decoder class, something like:

[code]

And then [configure the JDBC client](https://vertx.io/docs/vertx-jdbc-client/java/#_data_types) to use it. You can either:

- put your custom class name in a `META-INF/services/io.vertx.ext.jdbc.spi.JDBCDecoder` file

[2022-03-03 16:23] tsegismont commented on #263
@ashertarno please take a look at https://github.com/vert-x3/vertx-jdbc-client/issues/248#issuecomment-1058222890

In your case, I think you could override the `decodeDateTime` method:

[code]

@pmlopes @zero88 can you confirm?

[2022-03-04 04:41] zero88 commented on #263
@tsegismont Yep, correct.
@ashertarno you can add your SPI decoder to resolve this case. However, actually, I don't understand why this ticket title is `wrong format in TimeStamp and Timestamptz`.
Currently, TimeStamp will be converted to LocalDateTime and Timestampz will be converted to OffsetDateTime

[2022-03-04 04:49] zero88 commented on #263
Btw, when reviewing a code in [this part](https://github.com/vert-x3/vertx-jdbc-client/blob/6d186d64fabbd71f492cba051adee8cf8902776a/src/main/java/io/vertx/ext/jdbc/spi/impl/JDBCDecoderImpl.java#L178-L186), this is my mistake, `java.sql.Time` and `java.sql.Timestamp` values are converted to incorrect `OffsetTime` and `OffsetDateTime` value.
For example:
PostgreSQL value: `2017-05-14 23:59:59-03` =

[2022-03-04 07:41] ashertarno commented on #263
@zero88 i described the regression vs previous versions in my example. look at the json generated in the query response. instead of a formatted string we get a json object, probably serialized  OffsetTime representation by jackson obectmapper indeed. the way it worked previously makes much more sense to me: i expect the json to hold the values as DB query would return them without any additional j

[2022-03-05 08:03] zero88 opened #266 "PostgreSQL: Get Time/Timestamp with time zone is wrong value"
PostgreSQL `Time with timezone` and `Timestamp with timezone` values are converted to incorrect `OffsetTime` and `OffsetDateTime` value.

For example:
- The server time zone is: `+07:00`
- Timestamp with timezone DB value: `2017-05-14 23:59:59-03`
=> current Vertx output `2017-05-15T09:59:59Z`
=> The correct value should be: `2017-05-15T02:59:59Z` or prefer keep the exact database value `2017-05-1

[2022-03-05 08:13] zero88 commented on #263
@ashertarno oh, I got it. I have missed this line

Since version 4.2, `vertx-jdbc` relies on the JDBC 4.2 specification as [the official document](https://vertx.io/docs/vertx-jdbc-client/java/#_data_types). Then I think you have 2 ways to fix it:
- Use `jackson-datatype-jsr310` as your workaround to convert `timestamp with timezone` to `string` when retrieving JSON data. But the actual data in `re

[2022-03-05 08:15] zero88 commented on #263
@vietj @tsegismont can you confirm it?

[2022-03-07 14:15] tsegismont commented on #263
Javascript is no longer supported in Vert.x 4. Only Kotlin and Groovy.

[2022-03-16 20:56] akoniar opened #269 "Badly parsed oracle rowid"
### Version

4.2.5

### Context

I run code that inserts into the table a row and after that, I want to search inserted data by rowid. In previous versions works fine, but in 4.2.5 during a search by rowid given by JDBCClient throws error:

[code]

Also, I tried the jdbc pool, but there I have a problem with parsing rowid. Because row id is stored as an array of bytes and I cannot parse to some ot

[2022-03-17 05:47] Xpecya opened #270 "SQL generator"
Hello Vert.x.

I DO appreciate your job and I'm now using Vert.x in my project.
Currently when I'm using vertx-jdbc-client, I always need to write a SQL generator myself, based on StringBuilder or Mybatis or Hibernate etc. I've tried all of them and some of them work well, but I still want one from Vert.x as none of them is a pure SQL generator, and none of theirs' main propose is to generate SQL

[2022-03-17 08:21] tsegismont commented on #270
Have you tried [`vertx-jooq`](https://github.com/jklingsporn/vertx-jooq) ? cc @jklingsporn

[2022-03-17 09:39] Xpecya commented on #270
@tsegismont Well It's not found in https://vertx.io so I missed this. I searched this project on github and it seems that it is not for projects such as vertx-mysql-client, vertx-mssql-client etc... Yeah it is indeed something like what I'm looking for. Maybe I should open a issue in their project LOL.
BTW, will vertx-jooq be part of the Vert.x project? I mean will you put that projecct on https:/

[2022-03-17 14:19] tsegismont commented on #270
It's a community project, not supported by the Vert.x core team. But it does work with `vertx-mysql-client` or `vertx-mssql-client`.

[2022-03-18 03:11] Xpecya commented on #270
nice! thx dude

[2022-03-18 03:11] #270 closed

[2022-03-18 08:00] zero88 commented on #237
I saw in the build history, that mostly are failed, but in the important milestone, it is green.
Any magic? :magic_wand:

[2022-03-24 14:26] vicliu624 opened #275 "vertx-sql-client-templates BLOB not working for oracle"
### Version

4.2.6

### Context

DDL
[code]

entity
[code]

I try to insert record used by SqlTemplate

[code]

method mapFrom in io.vertx.sqlclient.templates.SqlTemplate have convert object to Map ,the method cause oracle.jdbc.OracleDatabaseException: ORA-01465,
because JSONObject convert byte[] to base64 String

[code]

[2022-04-28 06:42] ashertarno commented on #263
closing this since it wasn't really a bug but rather a functional backwards incompatible change between the versions.

[2022-04-28 06:42] #263 closed

[2022-04-28 08:26] tsegismont commented on #263
Changing label to `invalid` to make the release notes program happy.

[2022-05-07 10:19] zero88 opened #276 "Result set closed when executing MySQL procedure that returns a result set"
### Version

Java 11
Vertx `4.2.3` -> `4.2.5`

### Context

I encountered an exception that looks suspicious while executing MySQL procedure that returns a result set

[code]

For `4.2.6` and `4.2.7`, cannot execute with same test suite because of SQL connection timeout. Will check again.

[code]

### Do you have a reproducer?

Easy to reproduce with this example [select-to-return-the-entire-table

[2022-05-10 09:14] vietj commented on #264
@pmlopes

[2022-05-10 11:44] pmlopes commented on #264
@vietj `c3p0` was the "default" pool. Given that most pools are being deprecated, should we decide to make the new default `agroal`? It's the simplest one, I believe.

[2022-05-11 06:43] vietj commented on #264
we can discuss that for a next dot release

On Tue, May 10, 2022 at 1:44 PM Paulo Lopes ***@***.***>
wrote:

[2022-05-11 09:04] pmlopes commented on #264
Yes, I've doubled checked agroal and it seems the latest 2.x release requires java 11 which would be incompatible with the current minimum java version for vert.x 4.x

[2022-05-12 05:34] vietj commented on #264
ok thanks for reporting.

On Wed, May 11, 2022 at 11:04 AM Paulo Lopes ***@***.***>
wrote:

[2022-05-17 12:13] #269 closed

[2022-05-18 22:36] dustContributor opened #277 "JDBCPool usage breaks on 4.3.0"
Hi! I'm using Vert.x 4.3.0. I asked about this issue on the Vert.x discord but it seems no dev saw it, so I'll report it here:

I was trying to use SQLite and since there doesn't seems to be a Vert.x client for it, I was using the generic jdbc client.
[code]
When I try to use it with pool.query for instance, I get this:
[code]

It seems that, while c3p0 dependency is mandatory, this JDBCPool objec

[2022-05-19 19:24] pmlopes commented on #277
We should work on switching from c3p0 to agroal, as c3p0 seems to be abandoned. This would solve a couple of issue like this.

This will be mostly a big refactoring task as almost all tests default to c3p0 so we need a full review.

[2022-05-19 20:28] dustContributor commented on #277
I see. It kinda sucks that just adding vertx-jdbc-client, creating a pool and running it fails and throws an exception if you do nothing else. I had to dig up a bit in the code to find out what was the workaround.

[2022-05-19 20:55] pmlopes commented on #277
@dustContributor using the json configuration should default to c3p0, but indeed we should work on the flip.

If you want you could try to contribute this.

1. update the pom.xml
2. verify if test are still valid
3. update config if needed to move away from c3p0

[2022-05-21 22:32] dustContributor commented on #277
I'm assuming that making C3P0 dependency optional in the pom, while also making Agroal mandatory should be enough right?

I see some other stuff though, like the default pool class here:
https://github.com/vert-x3/vertx-jdbc-client/blob/master/src/main/java/io/vertx/ext/jdbc/JDBCClient.java#L42

Or these docs
https://github.com/vert-x3/vertx-jdbc-client/blob/master/src/main/asciidoc/index.adoc

Re

[2022-05-23 15:43] halower opened #279 "whether SQLClientTemplates supports the IN statement"
### Questions
I want to implement `SELECT * FROM TEST WHERE FIELD IN (?) `,   use  the ` ... WHERE name IN (#{names}) `
but no data was obtained
[code]

### Version

[SQL Client Templates](https://vertx.io/docs/vertx-sql-client-templates/java/) 4.3.0

### Context

I'm not sure if I'm using it the wrong way, but I didn't find the corresponding documentation either

[2022-05-25 12:39] miggonaut opened #280 "Add a way to set client information to sql connections"
#### Describe the feature

`java.sql.Connection` gives you the ability to set "client information", [see JavaDoc](https://docs.oracle.com/en/java/javase/11/docs/api/java.sql/java/sql/Connection.html#setClientInfo(java.lang.String,java.lang.String)).
Connections provided by vertx do not have this feature, neither for `io.vertx.ext.sql.SQLConnection` nor for `io.vertx.ext.jdbc.impl.JDBCConnectionImp

[2022-06-21 07:25] TnPoDoLsKi opened #281 "Unexpected NullPointerException produced by vertx JDBC client with Oracle."
### Version

The version is 4.2.7

### Context

I encountered an exception which looks suspicious in Vertx JDBC client with the Oracle database. I am using Kotlin. I am trying to retrieve data from the database, and I am using the compose function to add a sort of mapper for the data after the request succeed. The problem is, as the documentation in the compose function after preparing and excutin

[2022-06-21 08:42] tsegismont commented on #281
Thanks for report, we'll look into it

[2022-07-04 11:34] FDoKE opened #282 "Some JDBC not working properly with getObject(pos, cls)"
### Version
4.3.1 (last used version without an issue is 4.1.1)

### Context

Looks like changes made in JDBCDecoderImpl break two of jdbc's in our project (HSQL, Clickhouse).
In new version it uses cs.getObject(pos, cls) to retrieve result which act wierd with some types in HSQL, Clickhouse

**Clickhouse:**
for example in case of double
getObject(pos) returns null, getObject(pos, cls) return 0.0

[2022-07-06 14:12] TnPoDoLsKi commented on #281
Hey! any news about this issue?

[2022-07-06 14:14] tsegismont commented on #281
I'm looking into it at this moment

[2022-07-06 15:17] tsegismont commented on #281
Would you mind testing with this patch:

[code]

[2022-07-07 07:32] TnPoDoLsKi commented on #281
Yeah I will try it just takes time to give you feedback!

[2022-08-01 14:17] tsegismont commented on #281
@TnPoDoLsKi have you been able to try it out?

[2022-08-02 16:59] #281 closed

[2022-08-09 18:41] cristian-joseb opened #284 "JDBCCallabe execute does not return the result set when use with HSQLDB Stored Procedure Cursor."
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

Which version(s) did you encounter this bug ?
3.9.13

### Context

When writing some unit using HSQLDB, the execute method return false, and hence the result set is not returned.

https://github.com/vert-x3/ve

[2022-08-15 09:30] mfvald commented on #280
Hello, is it possible to request a rough estimate on when(if?) this feature will be available?

Apoligies for having a post of this nature as my first here, very quick reasoning for the inquiry: I work in a team in a ~ 750 ppl company, our team have been using vert.x for roughly 2.5 years. Our central db2 teams has however,  decided that clientinfo is a mandatory field from 15th of September(test

[2022-08-15 15:53] vietj commented on #280
can you show which databases actually supports this ?

[2022-08-16 06:20] mfvald commented on #280
Not entirely sure what you mean by "show"?

But it is supported by IBM DB2(z/Os).

https://www.ibm.com/docs/en/db2/11.5?topic=pecidscip-client-info-properties-support-by-data-server-driver-jdbc-sqlj

I was following a similiar threat with regards to implementing an unWrap to expose the underlying java.sql.connection. Which seemed to be what we need.

https://github.com/eclipse-vertx/vertx-sql-clie

[2022-08-16 08:59] vietj commented on #280
I'm wondering about the support for this for other SQL client implementations that don't wrap JDBC as it seems interesting

[2022-08-16 09:01] vietj commented on #280
@mfvald have you tried to build a JDBC pool using

[code]

this way you can provide your own `DataSource` and make sure connections use the correct user info.

[2022-08-16 09:30] vietj commented on #280
I'll provide a way to unwrap to a JDBC connection at least soon.

[2022-08-16 09:33] vietj commented on #280
it seems actually those info must be set before connecting ?

[2022-08-16 09:40] vietj commented on #280
it seems that with DB2, it should work according to https://www.ibm.com/docs/en/db2-for-zos/12?topic=jies-providing-extended-client-information-data-source-client-info-properties

properties can be set after a connection has been created, info must be set before executing the first statement.

[2022-08-16 09:45] vietj commented on #280
it seems also it can be used after connecting with PostgreSQL, so it seems reasonable to provide a static helper that unwraps the SQL connection to a JDBC connection.

as for having an initiliazer, it seems complicated to do, because the vertx pool is wrapping a JDBC pool and there is no way to know when a JDBC connection has been created or not by the pool.

[2022-08-16 09:46] vietj opened #285 "Provide a helper to unwrap a Vert.x SQL connection to a JDBC connection"

[2022-08-16 09:53] mfvald commented on #280
You last two comments have pretty hit our use case spot on.

we need custom client info for the invididual connections, and not all created from the pool.

I haven't tried creating a custom JDCPool, but as far as i can tell, and it seems you reached the same conclusion, it won't actually be useful for our use case.

[2022-08-16 10:09] vietj commented on #280
can you elaborate when the client info would be set and how ideally ?

[2022-08-16 10:10] #285 closed

[2022-08-16 11:04] mfvald commented on #280
It is fairly straight forward(..for me..atleast;-))

Should probably mention we are on vertx. 4.1.5 atm.

We use a `JDBCPool `to draw a connection which is kept and reused for the duration of our transaction scope, which is manually managed.

We have a custom Transaction scope object of sorts which given a `JDBCPool `can be initialized to prepare a io.vertx.sqlclient.SqlConnection`

On preparation

[2022-08-17 07:15] vietj commented on #280
@mfvald unless I'm wrong the new unwrap method should work for you ?

[2022-08-17 07:15] vietj commented on #280
note JDBC in Java >= 9 has a new `ConnectionBuilder` that seems useful for initialising connections and shows some potential

[2022-08-17 07:35] mfvald commented on #280
Am i missing something here?

io.vertx.ext.sql.SQLConnection has an unwrap method. (used by the old vert.x 3.x.x jdbc client)
but
in my 4.3.3 dev branch,  io.vertx.sqlclient.SqlConnection does not(Used by vert.x.4 JDBCPool)

As far as i can tell these two classes are not interchangeable.

[2022-08-17 07:48] vietj commented on #280
I meant with https://github.com/vert-x3/vertx-jdbc-client/issues/285

[2022-08-17 07:57] mfvald commented on #280
ah, sorry, i apparently only read the first line of that post.
So i did miss something;-)

yes, as far as i can tell that will be perfect.

[2022-08-17 19:56] vietj commented on #280
thanks @mfvald we'll see if we can provide better hooks when Vert.x uses Java 9 and a more recent JDBC version

[2022-08-17 19:57] vietj commented on #280
I'll close this issue in the meantime.

[2022-08-17 19:57] #280 closed

[2022-09-01 09:31] komape opened #290 "getJsonArray() throws ClassCastException from v4.2.0 upwards"
### Version

v4.2.0

### Context

We have a PostgreSQL database with a column of type Array. The following line of code always returned an `JsonArray` without any problems. Once we migrated to version 4.2.x this started to throw a `ClassCastException` because it returns an `Object`. There were no changes to the database. Our guess is that the `JDBCDecoder` from #235 somehow fails to parse the cont

[2022-09-02 21:10] colinchilds opened #291 "UpdateResult.getKeys() returns a PGobject instead of a String"
I found this issue while trying to upgrade from vert.x 3 to vert.x 4.3.3. After some testing, I noticed that it works correctly in 4.3.0 but starts failing in 4.3.1.

I have many tables with a text `id` and a jsonb `data` column. After running `updateWithParams` and getting the keys, I used to be able to get the `data` column with `result.getKeys().getString(1)` but that now throws an error, as th

[2022-09-07 17:00] colinchilds commented on #291
After looking into this further, I've noticed that many of my queries that return jsonb are breaking. Here's another simple example that returns a PGobject now instead of a String:
[code]

[2022-09-07 17:09] colinchilds commented on #291
@tsegismont would you be able to help me look into this? It's blocking my efforts to upgrade dozens of projects to the latest vertx and is a bit time sensitive.

[2022-09-09 08:44] vietj commented on #291
@pmlopes can you have a look ?

[2022-09-19 16:06] colinchilds commented on #291
Hey @pmlopes just wanted to ping you again to see if you could help me look into this. Thank you!

[2022-09-27 22:49] colinchilds commented on #291
@zero88 just bumping this again to see if you can help out. Thanks!

[2022-09-28 06:53] zero88 commented on #291
@colinchilds thanks for the heads up, and so sorry for the late response. let me re-check it.
Do you mind sharing your environment
- vertx version
- pgJDBC version
- PostgreSQL server version
- Which datasource library and version? hikari/agroal or c3p0?

As your description, I understand you are using legacy `JDBCClient`, right?

[2022-09-28 09:52] zero88 commented on #291
nvm, I'm able to reproduce it. Will dig more

[2022-09-28 10:09] vietj commented on #291
thanks @zero88

[2022-09-29 03:00] zero88 commented on #291
because PG driver wraps an unknown type by JDBC Standards (`JDBCType.OTHER`) into [`PGobject`](https://jdbc.postgresql.org/documentation/publicapi/org/postgresql/util/PGobject.html), then the `vendorTypeClass` will be `PGObject` in most cases.
- If using row get value object by `vendorTypeClass == PGObject`, the field value will be an instance of `PGObject`.
- If using row get value object by `ano

[2022-09-29 03:28] zero88 commented on #291
To resolve this ticket, I think we need to revert [decodeUnhandledType](https://github.com/vert-x3/vertx-jdbc-client/commit/ef7aeb0ee0653e36111534bf8b096a211619c1cd#diff-c1e643cc5c7ac521bc511ebbfc948bfee63c000b166997a6f36f4bb79fd54017L279-L283)
@pmlopes to support UUID natively, I think we can add a check if the value is an instance of java lang type or UUID, which should skip toString.
However, A

[2022-09-29 06:45] vietj commented on #291
can we revert the commit partially ?

[2022-10-05 17:27] colinchilds commented on #291
@zero88 Any update on this?

[2022-10-06 09:05] zero88 commented on #291
I've recently reviewed [PR#273](https://github.com/vert-x3/vertx-jdbc-client/pull/273) to understand the changes reasons.

After digging in deep, there are 3 issues here:
- For the function/procedure on PostgreSQL, the `ParameterMetaData` of `PgCallableStatement` does not return correct information as other JDBC driver (e.g: MSSQL), but `ResultSetMetadata` is correct. I think it works as a design

[2022-10-06 17:24] colinchilds commented on #291
Thank you for the update!

[2022-10-13 15:29] colinchilds commented on #291
Any chance we could get this into the next vertx release? I was really hoping to get all my services onto vertx 4 by the end of the year if possible.

[2022-10-17 06:14] nikodemusP opened #292 "JDBC Oracle and Timestamps"
### Version

Vertx 4.3.4, JDBCClient

### Questions

Our Oracle-database is setup in the local-timezone "Europe/Vienna" and returns the local-time over JDBC. But within the convertion of the VertX-JDBC the time markt in any case to UTC.

If you do a

[code]

The output will be:

[code]

I assume it is related to this code-part (JDBCDecoderImpl.java, Line 188):

[code]

The database returns "2022-1

[2022-10-18 17:38] colinchilds commented on #291
Sorry for bumping this yet again. I don't mean to be annoying, I just am really anxious for a fix. @zero88 did you get a decision from the vertx team?

[2022-10-26 03:49] zero88 commented on #290
Actually, `java.sql.Array` will be converted to `Object[]`, and keeps this value in `Row`/`Tuple`.

My preference is `Object[]` to compatible with another lib/tool. And, in `Tuple` should introduce the JsonArray converter.

https://github.com/eclipse-vertx/vertx-sql-client/blob/75ee2e4ad73d0fcf736efd80f5ea4569b72f898a/vertx-sql-client/src/main/java/io/vertx/sqlclient/Tuple.java#L414-L432

How do y

[2022-10-26 04:29] zero88 commented on #292
Hi @nikodemusP
I think something is mismatched here.
`SESSIONTIMEZONE` returns the time zone of the current connection session. the time zone is Vienna (UTC+2)
`sysdate` is the current date and time set for the operating system on which the database server resides. As your output `"dateValue":"2022-10-17T10:06:45Z"`, it is UTC+0.

So the `dateValue` and `localTime` is in tz UTC+0. Then I think the

[2022-10-31 16:13] colinchilds commented on #291
@vietj and @pmlopes just bumping this again. Thanks!

[2022-11-07 23:26] colinchilds commented on #291
Just FYI, I pulled the PR branch and tested my use cases locally and they worked. It seems to have fixed the issue for me. Would love to get this merged and put in the next version! Can I bribe you guys with Amazon gift cards or something? Is that allowed? I'm getting kinda desperate here.

[2022-11-08 10:39] vietj commented on #291
@colinchilds we'll going to review it

[2022-11-08 11:51] #266 closed

[2022-11-08 11:51] #276 closed

[2022-11-08 11:51] #291 closed

[2022-11-08 16:51] colinchilds commented on #291
Thank you so much!

[2022-11-14 08:53] vietj commented on #290
we should avoid using primitive arrays with Tuple instead of trying to use a different type than what the Tuple expects (or the default methods of Tuple should be reimplemented then).

[2022-11-16 17:18] tsegismont commented on #275
Actually, this is not a bug. This `mapFrom` method uses our Jackson `ObjectMapper` which turns binary data (buffers, byte arrays) into base64 as per JSON spec.

If you want a different behavior, create your own mapper and then do this:

[code]

[2022-11-16 20:31] colinchilds commented on #291
Hey, just wanted to say thanks again for everyone who helped out with this. Do we have any idea when it could potentially make into a release?

[2022-11-16 20:39] vietj commented on #291
we will release this week

On Wed, Nov 16, 2022 at 9:31 PM colinchilds ***@***.***>
wrote:

[2022-11-16 20:40] colinchilds commented on #291
Excellent, that's great news. Thank you